Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Changelog: Mention new aiohttp requirement
  Changelog.rst
Due: none

Bump version: 1.6.1 → 1.6.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Revert "Bump version: 1.6.1 → 1.6.2"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Merge changelog from 1.6 branch into docs/history
  docs/history/changelog-1.6.rst
  docs/history/index.rst
Due: none

Fix wrong agent name in last example
  docs/userguide/testing.rst
Due: none

Adds stream.filter(lambda v: v > 1000)
  faust/_cython/streams.pyx
  faust/exceptions.py
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

Adds missing coverage for Issue #330
  t/unit/utils/test_urls.py
Due: flake8

Docs: Workers: Document restarting cluster strategy
  docs/userguide/workers.rst
Due: none

Doc improvements
  docs/userguide/streams.rst
Due: none

Document stream.filter
  docs/userguide/streams.rst
Due: none

Updates Changelog
  Changelog.rst
  docs/userguide/streams.rst
Due: none

Fixes docstyle
  faust/streams.py
Due: flake8, mypy

Record implements methods provided by Mapping.
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

Model.dumps passes the model instance to the serializer instead of the model representation.
  faust/models/base.py
Due: flake8, mypy

[sensors][datadog] Update topic received count on message in
  faust/sensors/datadog.py
Due: flake8, mypy

Adds regression test for #344
  t/unit/sensors/test_datadog.py
Due: flake8

Update Changelog for #342
  Changelog.rst
Due: none

Examples: Livecheck: Model constants can be safely stored in class (Order.SIDE_SELL)
  examples/livecheck.py
Due: flake8

Clean up livecheck stuff
  examples/livecheck.py
  t/live/__init__.py
  t/live/__main__.py
  t/live/app.py
  t/live/orders/__init__.py
  t/live/orders/agents.py
  t/live/orders/commands.py
  t/live/orders/livechecks.py
  t/live/orders/models.py
  t/live/orders/topics.py
  t/live/orders/views.py
Due: flake8

Update bandit baseline
  extra/bandit/baseline.json
Due: none

Expose max_poll_interval from aiokafka
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

CI: Adds CPython 3.7.3 to build matrix + lint stages updated to 3.7.3
  .travis.yml
Due: none

Autodiscovery: Log errors in imported modules as a warning (Closes #247)
  faust/utils/venusian.py
Due: flake8, mypy

Fixes typo in import of utils.logging
  faust/utils/venusian.py
Due: flake8, mypy

Adds documentation for broker_max_poll_interval (Issue #345)
  docs/userguide/settings.rst
Due: none

Adds Changelog entry for Issue #345
  Changelog.rst
Due: none

Fixes wrong place for implementation of venusian on_error callback
  faust/app/base.py
  faust/utils/venusian.py
Due: flake8, mypy

Fixes typecheck
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
Due: flake8, mypy

Fix default for max_poll_interval to 1000.0 seconds
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

Tests passing
  t/unit/app/test_base.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8

Fixes typo on_error -> onerror
  faust/app/base.py
  t/unit/app/test_base.py
Due: flake8, mypy

Fixes entrypoint for django example (Closes #348).
  examples/django/faustapp/__main__.py
  examples/django/faustapp/app.py
  examples/django/setup.py
  faust/app/base.py
  faust/cli/base.py
Due: flake8, mypy

Fix test flake on master
  t/unit/app/test_base.py
Due: flake8

Fix venusian scanner cb arg name and fix django autodiscovery
  faust/fixups/django.py
  t/unit/fixups/test_django.py
Due: flake8, mypy

Web: Require new :setting:`debug` to display sensor index
  faust/app/base.py
  faust/types/settings.py
  faust/web/apps/production_index.py
  faust/web/base.py
  t/functional/test_app.py
  t/unit/web/test_base.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Document :setting:`debug`
  docs/userguide/settings.rst
Due: none
