Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Now depends on mode 1.18.0
  requirements/default.txt
Due: none

[CLI] All subcommands now executed by mode.Worker with --loglevel/--logfile, etc. support
  docs/userguide/tasks.rst
  faust/cli/base.py
  faust/cli/params.py
  faust/cli/worker.py
  faust/worker.py
Due: flake8, mypy

Updates Changelog for 1.2.0
  Changelog.rst
  docs/developerguide/overview.rst
  docs/history/changelog-1.1.rst
  docs/history/index.rst
  docs/userguide/application.rst
  docs/userguide/workers.rst
Due: none

Fixes apicheck
  docs/history/changelog-1.1.rst
Due: none

Adds missing reference for faust.cli.params
  docs/reference/faust.cli.params.rst
  docs/reference/index.rst
Due: none

Now depends on mode 1.18.1
  Changelog.rst
  requirements/default.txt
Due: none

[CLI] @app.command now ensures producer/app stopped at shutdown (Fixes #172)
  faust/cli/base.py
Due: flake8, mypy

typecheck
  faust/cli/base.py
Due: flake8, mypy

[Models] Raise error if abstract model instantiated (Issue #168)
  faust/models/base.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

[Producer] Be consistent in extracting .conf values
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
  faust/types/transports.py
Due: flake8, mypy

New setting producer_partitioner for advanced partitioning. Closes #164
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
  faust/types/settings.py
  faust/types/transports.py
  t/functional/test_app.py
Due: flake8, mypy

[App] Instead of explicit finalize, warn when configuration key set after reading it
  faust/app/base.py
  faust/exceptions.py
  faust/types/settings.py
  t/functional/test_app.py
  t/unit/app/test_base.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

[docs] Document versionadded for new settings
  docs/userguide/settings.rst
Due: none

[topics] Add allow_empty flag to handle topics with empty messages
  faust/app/base.py
  faust/tables/base.py
  faust/topics.py
  faust/types/app.py
  faust/types/topics.py
  requirements/typecheck.txt
  t/unit/test_topics.py
Due: flake8, mypy

Use default partitioner in aiokafka transport if no producer_partitioner configured
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[CLI] Fixes AlreadyConfiguredWarning when AppCommand sets origin
  faust/cli/base.py
  faust/types/settings.py
Due: flake8, mypy

conf.origin is Optional[str]
  faust/types/settings.py
Due: flake8, mypy

Adds support for --web-transport with Unix domain socket support
  Changelog.rst
  docs/userguide/settings.rst
  faust/cli/params.py
  faust/cli/worker.py
  faust/types/_env.py
  faust/types/settings.py
  faust/web/drivers/aiohttp.py
  faust/worker.py
  t/functional/test_app.py
Due: flake8, mypy

Updates Changelog for 1.2.0
  Changelog.rst
Due: none

[CLI] using --loglevel and friends arguments after worker command now works
  faust/cli/base.py
Due: flake8, mypy

Bump version: 1.1.3 → 1.2.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[setup.py] Fixes wrong name in Trove classifier
  setup.py
Due: flake8

Revert "Bump version: 1.1.3 → 1.2.0"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fix code snippet
  docs/userguide/settings.rst
Due: none

Fixes bug with --loglevel default in 1.2.0
  faust/cli/base.py
  faust/types/_env.py
  faust/worker.py
Due: flake8, mypy

[Web] aiohttp.Application now available as app.web.web_app (was: app.web._app)
  faust/web/drivers/aiohttp.py
  t/functional/web/conftest.py
  t/functional/web/test_cache.py
  t/functional/web/test_tables.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8, mypy

[Web] Adds app.web.wsgi() entrypoint for use with e.g. aiohttp.workers.GunicornWorker
  faust/web/base.py
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Updates Changelog for 1.2.1
  Changelog.rst
Due: none

Bump version: 1.2.0 → 1.2.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fix doc typos
  docs/userguide/models.rst
  faust/agents/agent.py
Due: flake8, mypy

Increase broker_session_timeout to 60.0 by default
  faust/types/settings.py
Due: flake8, mypy

Rebalancing experiment
  examples/word_count.py
  faust/app/base.py
Due: flake8, mypy

Remove debugging code
  examples/word_count.py
Due: flake8

No ServiceProxy at all
  docs/developerguide/overview.rst
  docs/reference/faust.app.service.rst
  docs/reference/index.rst
  examples/advanced/isolated_partitions_crashing.py
  faust/agents/agent.py
  faust/agents/manager.py
  faust/app/base.py
  faust/app/service.py
  faust/cli/base.py
  faust/sensors/monitor.py
  faust/web/base.py
  faust/web/drivers/aiohttp.py
  t/stress/reports/checks.py
  t/stress/tests/forwarder/app.py
  t/stress/tests/tables/app.py
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
  t/unit/app/test_service.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8, mypy
