Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Update Slack Link
  README.rst
Due: none

Rebalancing trace: Now consolidates traces based on generation id
  faust/app/base.py
  faust/transport/drivers/aiokafka.py
  faust/utils/tracing.py
Due: flake8, mypy

Trace: include app name in trace category
  faust/app/base.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Fixed livelock offset after rebalancing
  faust/transport/consumer.py
Due: flake8, mypy

Flake fix
  faust/transport/consumer.py
Due: flake8, mypy

aiokafka tracing: Adds flush_spans
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Trace: Trace category now includes app name
  faust/app/base.py
Due: flake8, mypy

cosmetics
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Tests for new aiokafka tracing consolidation
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8

Render README.rst
  README.rst
  docs/includes/tags.txt
Due: none

Cleanup Issue #456
  faust/transport/consumer.py
Due: flake8, mypy

Now depends on aiokafka 1.1.2
  requirements/default.txt
Due: none

Fixes crashes when tracing disabled
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Do not buffer up standby changes on global tables (Closes #451)
  faust/app/base.py
Due: flake8, mypy

Fixes -1 highwater crash for unrelated tables when global table used
  faust/tables/recovery.py
Due: flake8, mypy

Stream group_by: Do not repeat prefix in autogenerated topic name
  faust/agents/agent.py
  faust/app/base.py
  faust/streams.py
  faust/topics.py
  faust/types/app.py
  faust/types/topics.py
Due: flake8, mypy

flakes + tests passing
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

Add search to possible views methods
  faust/web/views.py
  t/unit/web/test_views.py
Due: flake8, mypy

More coverage
  faust/transport/drivers/aiokafka.py
  t/functional/test_channels.py
  t/functional/web/test_cache.py
  t/unit/app/test_router.py
Due: flake8, mypy

Bumps version to 1.1.3
  requirements/default.txt
Due: none

Now requires aiokafka 1.1.3
  requirements/default.txt
Due: none

Adds Dhruva Patil to AUTHORS.rst
  AUTHORS.rst
Due: none

Updates Changelog for 1.9.0
  Changelog.rst
  docs/history/changelog-1.8.rst
  docs/history/index.rst
Due: none

Rename on_window_close_callback -> on_window_close (Issue #446)
  faust/tables/base.py
  faust/types/tables.py
Due: flake8, mypy

Adds Leandro Vonwerra to AUTHORS.rst (Issue #446)
  AUTHORS.rst
Due: none

Updates Changelog for #446
  Changelog.rst
Due: none

Adds Ignacio Peluffo to AUTHORS.rst (Issue #461)
  AUTHORS.rst
Due: none

Updates Changelog for #461
  Changelog.rst
Due: none

Fixes tests for Issue #446
  faust/tables/base.py
  faust/types/tables.py
  t/unit/tables/test_base.py
Due: flake8, mypy

Now depends on mode 4.1.3
  requirements/default.txt
Due: none

Set release date for 1.9.0
  Changelog.rst
Due: none

Bump version: 1.8.1 → 1.9.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Update example for "Rename on_window_close_callback -> on_window_close"
  examples/windowed_aggregation.py
Due: flake8

CI: check if 3.8 is available
  .travis.yml
  tox.ini
Due: none

Attempt to fix aredis Python 3.8 compatibility
  faust/web/cache/backends/redis.py
  t/functional/conftest.py
Due: flake8, mypy

Fixes typecheck
  faust/web/cache/backends/redis.py
Due: flake8, mypy

Revert "Fixes typecheck"
  faust/web/cache/backends/redis.py
Due: flake8, mypy

Revert "Attempt to fix aredis Python 3.8 compatibility"
  faust/web/cache/backends/redis.py
  t/functional/conftest.py
Due: flake8, mypy

Revert "CI: check if 3.8 is available"
  .travis.yml
  tox.ini
Due: none

Revert "Bump version: 1.8.1 → 1.9.0"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy
