Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

typecheck passes with mypy 0.641
  faust/cli/base.py
  faust/models/base.py
  faust/models/record.py
  faust/topics.py
  requirements/typecheck.txt
Due: flake8, mypy

Aiohttp now uses AppRunner to start
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Aiohttp now uses AppRunner to start
  faust/web/drivers/aiohttp.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8, mypy

Fix quotes
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Upgrade flake8 to 3.6.0
  requirements/flakes.txt
Due: none

Adds Omar Rayward to AUTHORS :tada:
  AUTHORS.rst
Due: none

Fixes pytest warning
  t/functional/conftest.py
Due: flake8

Fixes DeprecationWarning for new asyncio.current_task
  faust/streams.py
Due: flake8, mypy

Use concurrency param in concurrency example
  docs/userguide/agents.rst
Due: none

Fasust in Kubernates
  examples/kubernetes/README.md
  examples/kubernetes/consumer/Dockerfile
  examples/kubernetes/consumer/README.md
  examples/kubernetes/consumer/consumer.py
  examples/kubernetes/consumer/consumer.yml
  examples/kubernetes/consumer/requirements.txt
  examples/kubernetes/producer/Dockerfile
  examples/kubernetes/producer/README.md
  examples/kubernetes/producer/producer.py
  examples/kubernetes/producer/producer.yml
  examples/kubernetes/producer/requirements.txt
Due: flake8

Fixes typecheck
  faust/streams.py
Due: flake8, mypy

Rebalances Step 2
  faust/agents/agent.py
  faust/agents/manager.py
  faust/app/base.py
  faust/tables/manager.py
  faust/transport/conductor.py
  faust/types/agents.py
  faust/types/tables.py
  faust/types/transports.py
Due: flake8, mypy

Window expiry: Fixes possible race condition if KeyError raised
  faust/tables/base.py
Due: flake8, mypy

Remove reference to now removed app.Set (Closes #190)
  docs/userguide/application.rst
Due: none

fixes typecheck
  faust/tables/base.py
Due: flake8, mypy

flakes
  faust/assignor/copartitioned_assignor.py
  faust/cli/send.py
  faust/sensors/datadog.py
  faust/streams.py
  faust/transport/drivers/aiokafka.py
  setup.cfg
Due: flake8, mypy

Fix now()
  examples/windowing/tumbling_now.py
  faust/tables/base.py
  faust/types/windows.py
  t/unit/windows/test_tumbling_window.py
Due: flake8, mypy

Aiocontextvars 0.2 changed API
  requirements/py36.txt
Due: none

Mode now supports contextvars.ContextVar directly
  faust/streams.py
  requirements/README.rst
  setup.py
  tox.ini
Due: flake8, mypy

Now depends on mode 2.0
  requirements/default.txt
Due: none

improve-current
  examples/windowing/tumbling_current.py
  faust/tables/wrappers.py
  t/unit/tables/test_table.py
Due: flake8, mypy

Allow windowed_table.now() outside of stream
  faust/tables/base.py
Due: flake8, mypy

JSON serialize NamedTuples as lists, not dicts
  faust/utils/json.py
  t/unit/windows/test_window_range.py
Due: flake8, mypy

Now depends on mode 2.0.1
  requirements/default.txt
Due: none

Now depends on mode 2.0.2
  requirements/default.txt
  requirements/py36.txt
Due: none

flakes
  faust/utils/json.py
Due: flake8, mypy

flakes
  t/unit/tables/test_table.py
Due: flake8

flakes
  examples/windowing/tumbling_now.py
Due: flake8

wording
  examples/kubernetes/README.md
  examples/kubernetes/consumer/README.md
  examples/kubernetes/producer/README.md
Due: none

Fix doc typos
  docs/userguide/models.rst
  faust/agents/agent.py
Due: flake8, mypy

Increase broker_session_timeout to 60.0 by default
  faust/types/settings.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none
