Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Fetcher: Stop immediately when stopped
  faust/transport/consumer.py
Due: flake8, mypy

Updates Changelog for 1.0.13
  Changelog.rst
Due: none

Wording
  README.rst
  docs/includes/intro.txt
Due: none

Tests passing
  t/unit/app/test_service.py
  t/unit/transport/test_consumer.py
Due: flake8

[Dist] Use dmypy for faster typechecking
  Makefile
  requirements/typecheck.txt
  setup.cfg
Due: none

Fixes typecheck
  faust/types/settings.py
Due: flake8, mypy

[Docs] Fixes restructured text error
  docs/includes/intro.txt
Due: none

[Docs] Documents the `broker_heartbeat_interval` setting
  docs/userguide/settings.rst
Due: none

[Docs] Documents the `broker_session_timeout` setting
  docs/userguide/settings.rst
Due: none

[Docs] Fixes rst warnings
  docs/userguide/settings.rst
  docs/userguide/workers.rst
Due: none

[Dist] Adds .dmypy.json to .gitignore
  .gitignore
Due: none

[Docs] Removes missing reference
  docs/userguide/workers.rst
Due: none

Bump version: 1.0.12 → 1.0.13
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[TableManager][Cosmetics] order methods
  faust/tables/manager.py
Due: flake8, mypy

Removes "not assigned to topics" error log now that we automatically recover from non-existing topics
  faust/app/base.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
  t/unit/app/test_base.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Fixes another rebalance hang: "ValueError: Set of coroutines/Futures is empty."
  faust/transport/consumer.py
Due: flake8, mypy

t/misc/scripts/rebalance: Tools to stress test rebalancing
  t/misc/scripts/rebalance/killer.sh
  t/misc/scripts/rebalance/start_worker.sh
Due: none

on_partitions_assigned should stop fetcher to make sure it's not running
  faust/app/base.py
Due: flake8, mypy

App: Stop consumer if rebalance happens during shutdown
  faust/app/base.py
Due: flake8, mypy

[TableManager] Ignore CancelledError while stopping standbys
  faust/tables/manager.py
Due: flake8, mypy

[transport][aiokafka] Only fetcher needs to actually acquire the partitions lock
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 0.4.11
  requirements/default.txt
Due: none

on_partitions_* now calls GroupCoordinator.set_close when shutting down to ensure shutdown happens
  faust/app/base.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
Due: flake8, mypy

Updates Changelog for 1.0.14
  Changelog.rst
Due: none

Bump version: 1.0.13 → 1.0.14
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Consumer: Ignore commit failed error when rebalancing
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Consumer: Also close consumer
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Consumer: Do not wait for drainer after cancel
  faust/transport/consumer.py
Due: flake8, mypy

Consumer: refactors commit into maybe_wait_for_existing_commit
  faust/transport/consumer.py
Due: flake8, mypy

App: on_partitions_* flight recorder timeout now set to session_timeout
  faust/app/base.py
Due: flake8, mypy

App: on_partitions_revoked: stop standbys before fetcher
  faust/app/base.py
Due: flake8, mypy

Do not raise cancelled error in on_rebalance_when_stopped
  faust/app/base.py
Due: flake8, mypy

Tables: Fixes hang shutting down standbys/revivers
  faust/tables/manager.py
Due: flake8, mypy

Wait for ongoing recovery after cancelling it
  faust/tables/manager.py
Due: flake8, mypy

Wait for fetcher after cancelling it
  faust/transport/consumer.py
Due: flake8, mypy

Removes left-over print statement
  faust/transport/consumer.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 0.4.12
  requirements/default.txt
Due: none

Updates Changelog for 1.0.15
  Changelog.rst
Due: none

Tests passing
  t/unit/app/test_base.py
Due: flake8

Bump version: 1.0.14 → 1.0.15
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy
