Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Adds t/misc/scripts/rebalance/killer-always-same-node.sh
  t/misc/scripts/rebalance/killer-always-same-node.sh
Due: none

Table: _revivers can be empty list
  faust/tables/manager.py
Due: flake8, mypy

Fence: Report traceback of lock owner
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

aiokafka: Create topic default timeout now 20.0, not 1000.0
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Updates Changelog for 1.0.16
  Changelog.rst
Due: none

Bump version: 1.0.15 → 1.0.16
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[aiokafka][requirements] Add explicit timeout around topic creation
  faust/transport/drivers/aiokafka.py
  requirements/default.txt
Due: flake8, mypy

[flakes] Remove unnecessary logging
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[flakes] Cleanup imports
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 0.4.13
  requirements/default.txt
Due: none

Raise error if not using robinhood-aiokafka
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Fixes hanging in wait_empty
  faust/streams.py
  faust/transport/conductor.py
  faust/types/tuples.py
  setup.cfg
Due: flake8, mypy

Updates Changelog for 1.0.17
  Changelog.rst
Due: none

Bump version: 1.0.16 → 1.0.17
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fixes KeyError: TopicPartition(topic=withdrawals129, partition=0)
  faust/topics.py
Due: flake8, mypy

Updates Changelog for 1.0.18
  Changelog.rst
Due: none

Bump version: 1.0.17 → 1.0.18
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[assignor] Handle invalid copartitioned assignment at start of partition assignment
  faust/assignor/client_assignment.py
Due: flake8, mypy

[flakes] Fix typo
  faust/assignor/client_assignment.py
Due: flake8, mypy

[assignor] cleanup code
  faust/assignor/client_assignment.py
Due: flake8, mypy

[changelog] Updates changelog for 1.0.19
  Changelog.rst
Due: none

Bump version: 1.0.18 → 1.0.19
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[statsd] Normalize stream names and never include memory address of channel in statsd id
  faust/sensors/statsd.py
  faust/streams.py
  t/functional/sensors/__init__.py
  t/functional/sensors/test_statsd.py
Due: flake8, mypy

[monitor] Add arbitrary count metric to monitor
  faust/sensors/monitor.py
  faust/sensors/statsd.py
Due: flake8, mypy

Add changelog notes for 1.0.20
  Changelog.rst
Due: none

Bump version: 1.0.19 → 1.0.20
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Make sure setup.py runs in python3
  setup.py
Due: flake8

Adds shell files to t/* MANIFEST
  MANIFEST.in
Due: none

Adds t/stress
  t/old/__init__.py
  t/old/app.py
  t/old/test_simple.py
  t/stress/__init__.py
  t/stress/worker.py
Due: flake8

[stress][worker] use CrashingSupervisor
  t/stress/worker.py
Due: flake8

Remove CrashingSupervisor until we can upgrade mode
  t/stress/worker.py
Due: flake8

Adds SentryHandler
  t/stress/worker.py
Due: flake8

Adds killer script
  t/stress/killer.py
  t/stress/worker.py
Due: flake8

Wording
  README.rst
  docs/includes/intro.txt
Due: none

Now depends on robinhood-aiokafka 0.4.14
  faust/assignor/partition_assignor.py
  faust/transport/drivers/aiokafka.py
  faust/utils/kafka/protocol/admin.py
  faust/utils/kafka/protocol/api.py
  faust/worker.py
  requirements/default.txt
  t/consistency/consistency_checker.py
Due: flake8, mypy

Now depends on mode 1.15.0
  requirements/default.txt
Due: none

Updates Changelog for 1.0.21
  Changelog.rst
Due: none

Bump version: 1.0.20 → 1.0.21
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Removes t/misc now that faust-stress is up and running
  t/misc/scripts/rebalance/killer-always-same-node.sh
  t/misc/scripts/rebalance/killer.sh
  t/misc/scripts/rebalance/start_worker.sh
Due: none

[stress] Worker now reads partition count from envvar STRESS_PARTITIONS
  t/stress/worker.py
Due: flake8
