Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

CI: Adds build targets for 3.8.0 + 3.7.5
  .travis.yml
  tox.ini
Due: none

Now depends on mode 4.1.5
  requirements/deps/mode.txt
Due: none

Fixes typecheck when aiohttp is installed
  faust/livecheck/patches/aiohttp.py
Due: flake8, mypy

AsyncGenerator does not exist in Pytnon 3.6
  faust/web/cache/backends/base.py
Due: flake8, mypy

doc: Table serialization updated
  docs/userguide/tables.rst
Due: none

Fixes test test_Agent.test_start_task
  faust/agents/agent.py
Due: flake8, mypy

Makefile: make develop now installs docs requirements
  Makefile
Due: none

Now depends on mode 4.1.6
  requirements/default.txt
  requirements/deps/mode.txt
  requirements/typecheck.txt
Due: none

Fixes broken agent test
  t/unit/agents/test_agent.py
Due: flake8

Fixes for #476
  faust/assignor/partition_assignor.py
Due: flake8, mypy

CI: Use CPython 3.7.5 for Windows builds
  .travis.yml
Due: none

Fix simple typo: senconds -> seconds
  examples/windowing/hopping.py
  examples/windowing/tumbling.py
Due: flake8

conductor decodes message once per serialization
  faust/transport/conductor.py
  t/unit/transport/test_conductor.py
Due: flake8, mypy

Models: Support arbitrarily nested type expressions.
  faust/agents/models.py
  faust/models/base.py
  faust/models/fields.py
  faust/models/record.py
  faust/models/typing.py
  faust/types/models.py
  t/functional/models/__init__.py
  t/functional/models/test_typing.py
  t/functional/test_models.py
Due: flake8, mypy

Docs: Adds reference for .models.typing
  docs/reference/faust.models.typing.rst
  docs/reference/index.rst
Due: none

Model: Type expression now reuse utils.codegen
  faust/models/typing.py
  faust/utils/codegen.py
Due: flake8, mypy

Update bandit baseline
  extra/bandit/baseline.json
Due: none

codegen: Fix missing return_type
  faust/utils/codegen.py
Due: flake8, mypy

Models: related model field now loads even without "__faust" entry
  t/functional/serializers/test_registry.py
Due: flake8

Models: Lazy loading of data for nested fields and model fields
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Models: Code generated __init__ and type expressions now use closures instead of globals
  faust/models/record.py
  faust/models/typing.py
  faust/utils/codegen.py
Due: flake8, mypy

CI: Disable 3.6.0 build breaking due to coverage fault
  .travis.yml
Due: none

Models: Cleanup generated init, and also store defaults as closure vars.
  faust/models/record.py
  faust/utils/codegen.py
Due: flake8, mypy

Models: Tags: Adds allow_protected_vars context manager
  faust/models/tags.py
  t/functional/test_models.py
Due: flake8, mypy

Cosmetics
  faust/models/fields.py
  faust/models/record.py
Due: flake8, mypy

Adds broker_api_version + consumer_api_version settings
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Tests: Adds pytest marker configuration
  t/conftest.py
  t/functional/conftest.py
  t/unit/conftest.py
Due: flake8

Move 1.9 changelog to docs/history/
  Changelog.rst
  docs/history/changelog-1.9.rst
  docs/history/index.rst
Due: none

Updates Changelog
  Changelog.rst
Due: none

Tools: verify_doc_defaults: Settings may now refer to other settings as default
  extra/tools/verify_doc_defaults.py
Due: flake8

Fixes documentation build
  Changelog.rst
  docs/history/changelog-1.9.rst
  docs/userguide/models.rst
  faust/tables/base.py
Due: flake8, mypy

Fixes tests
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8

Agent test_context() should use sink (fixes #495)
  faust/agents/agent.py
  t/unit/agents/test_agent.py
Due: flake8, mypy

Fixes typo
  faust/models/record.py
Due: flake8, mypy

Fixed table_routing failure on first bootup
  faust/topics.py
  t/unit/test_topics.py
Due: flake8, mypy

Possible fix for #501
  faust/transport/conductor.py
Due: flake8, mypy

add yield_events parameter to Stream.take
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

fix type hints
  faust/streams.py
  faust/types/streams.py
Due: flake8, mypy

test: Missing tests added. Corevage 100%
  faust/livecheck/app.py
  faust/models/record.py
  t/unit/serializers/test_codecs.py
  t/unit/tables/test_base.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Updates copyright year to 2020
  LICENSE
  artwork/LICENSE
  docs/conf.py
  docs/copyright.rst
  examples/django/proj/__init__.py
  faust/__init__.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
