Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Fixes typecheck
  faust/windows.py
Due: flake8, mypy

Cython optimize Stream.__aiter__
  faust/_cython/streams.pyx
  faust/streams.py
  setup.py
Due: flake8, mypy

Adds *._cython* to apicheck_ignore_modules
  docs/conf.py
Due: flake8

CLI: Use show_default=True as default for click.option
  faust/cli/base.py
Due: flake8, mypy

Use faust.cli.option everywhere
  docs/userguide/tasks.rst
  faust/cli/agents.py
  faust/cli/model.py
  faust/cli/models.py
Due: flake8, mypy

Fixes Cython StreamIterator
  faust/_cython/streams.pyx
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

[CI] Add Cython build step
  .travis.yml
Due: none

[CI] Fix bash syntax error
  .travis.yml
Due: none

[CI] again...
  .travis.yml
Due: none

Fixes typecheck
  faust/cli/base.py
  faust/streams.py
  requirements/extras/fast.txt
Due: flake8, mypy

Remove .pyx debugging statements
  faust/_cython/streams.pyx
Due: none

CLI: Return non-zero exitcode when @app.command raises exception
  faust/cli/base.py
  t/integration/cli/test_base.py
Due: flake8, mypy

CLI: Renames --no_color to --no-color (backwards compatible)
  docs/userguide/cli.rst
  faust/cli/base.py
Due: flake8, mypy

CLI: model command used "default*" for default field name, now "default"
  faust/cli/model.py
Due: flake8, mypy

Fixes CLI integration tests
  setup.cfg
  t/integration/app.py
  t/integration/cli/test_agents.py
  t/integration/cli/test_model.py
  t/integration/cli/test_models.py
  t/integration/conftest.py
Due: flake8

Fixes [CI] integration tests
  t/integration/cli/test_agents.py
Due: flake8

Fixes CLI integration tests
  t/integration/cli/test_agents.py
Due: flake8

Cython: windows: Propagate exceptions in want_seconds
  faust/_cython/windows.pyx
Due: none

Adds .pyx to MANIFEST
  MANIFEST.in
Due: none

Removes debugging print statement
  t/integration/conftest.py
Due: flake8

Try to fix integration test error
  t/integration/cli/test_agents.py
Due: flake8

max_poll_records accidentally set to 500 when default documented as None (performance improvement)
  faust/types/settings.py
Due: flake8, mypy

Adds Cython conductor
  .gitignore
  faust/transport/_cython/__init__.py
  faust/transport/_cython/conductor.pyx
  faust/transport/conductor.py
  setup.py
Due: flake8, mypy

assert not stderr is not reliable
  t/integration/cli/test_agents.py
  t/integration/cli/test_model.py
  t/integration/cli/test_models.py
Due: flake8

setting broker_max_poll_records is optional[int]
  faust/types/settings.py
Due: flake8, mypy

assert not stderr; is not reliable
  t/integration/cli/test_agents.py
  t/integration/cli/test_model.py
  t/integration/cli/test_models.py
Due: flake8

Debug failing test on Travis
  t/integration/app.py
  t/integration/cli/test_base.py
Due: flake8

blah
  t/integration/cli/test_base.py
Due: flake8

Now depends on mode 3.0.10
  faust/app/base.py
  faust/cli/base.py
  faust/types/app.py
  requirements/default.txt
  t/integration/app.py
  t/integration/cli/test_base.py
Due: flake8, mypy

Now depends on mode 3.0.10
  faust/app/base.py
  faust/cli/base.py
  faust/types/app.py
  requirements/default.txt
Due: flake8, mypy

Use typing.NoReturn from mode.utils.compat for <3.6.3 compat
  faust/app/base.py
  faust/cli/base.py
  faust/tables/wrappers.py
  faust/types/app.py
Due: flake8, mypy

App: can now set App.Settings to modify settings class used
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none
