Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

flakes
  examples/kubernetes/producer/producer.py
Due: flake8

Now depends on mode 4.1.8
  requirements/default.txt
Due: none

Consumer: Properly wait for agents/tables before subscribing (Issue #501)
  faust/agents/manager.py
  faust/tables/manager.py
  faust/topics.py
  faust/transport/conductor.py
  faust/types/agents.py
  faust/types/tables.py
  faust/types/transports.py
Due: flake8, mypy

Fixes tests
  t/unit/tables/test_manager.py
Due: flake8

Fixes typecheck for #500
  faust/topics.py
  faust/transport/drivers/aiokafka.py
  t/unit/test_topics.py
Due: flake8, mypy

Adds Sergej Herbert to AUTHORS
  AUTHORS.rst
Due: none

Fixes typecheck when aiohttp is installed
  faust/livecheck/case.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Fixes typecheck
  faust/models/record.py
Due: flake8, mypy

Adds Marcos Schroh to AUTHORS
  AUTHORS.rst
Due: none

Updates Changelog for #480
  Changelog.rst
Due: none

Adds Denis Kovalev to AUTHORS.rst
  AUTHORS.rst
Due: none

Updates Changelog for #495
  Changelog.rst
Due: none

Tests passing
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8

Graph: Agents are now children of AgentManager
  faust/agents/agent.py
Due: flake8, mypy

AgentManager: Adds __hash__
  faust/agents/manager.py
Due: flake8, mypy

Graph: Tables are now children of TableManager
  faust/app/base.py
Due: flake8, mypy

Store: Implements __hash__
  faust/stores/base.py
Due: flake8, mypy

Store: Graph label now includes URL
  faust/stores/base.py
Due: flake8, mypy

Graph: Conductor is now a child of Consumer
  faust/app/base.py
Due: flake8, mypy

Graph: The conductor is now connected to all agents (makes the graph pretty)
  faust/app/base.py
Due: flake8, mypy

Graph: Fetcher is now a child of Consumer (was App)
  faust/app/base.py
Due: flake8, mypy

Store graph label now omits table name (already included in URL)
  faust/stores/base.py
Due: flake8, mypy

Fixes import of NoReturn
  faust/tables/wrappers.py
Due: flake8, mypy

aiokafka: ConsumerThread must remember to stop method queue
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Tests passing
  t/unit/app/test_base.py
Due: flake8

Typing: Replace long replace chain with translation table
  faust/models/typing.py
  faust/utils/functional.py
Due: flake8, mypy

Docstrings
  faust/models/typing.py
Due: flake8, mypy

Now depends on mode 4.1.9
  requirements/default.txt
Due: none

Bump version: 1.9.0 → 1.10.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Adds new setting stream_processing_timeout
  docs/userguide/settings.rst
  faust/streams.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Only wait for agents if the app started them
  examples/advanced/rpc.py
  faust/transport/conductor.py
Due: flake8, mypy

Fixes RPC: wait_until_agents_started should do nothing when client_only
  faust/agents/manager.py
Due: flake8, mypy

Adds missing type annotation
  faust/streams.py
Due: flake8, mypy

example/advanced/rpc.py: fixes import
  examples/advanced/rpc.py
Due: flake8

Tables: Fixes hang at startup when using global table (Issue #507)
  faust/assignor/partition_assignor.py
Due: flake8, mypy

Use mode 4.2.0 (lots of test changes)
  faust/agents/agent.py
  faust/streams.py
  requirements/default.txt
  t/unit/livecheck/test_case.py
  t/unit/tables/test_base.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Use new mode Timer
  t/unit/livecheck/test_case.py
Due: flake8

Fixes stream tests
  t/functional/test_streams.py
Due: flake8
