Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

doc fixes
  Changelog.rst
  docs/userguide/settings.rst
Due: none

Fixes typo settings -> setting
  docs/userguide/settings.rst
Due: none

Adds timezone setting and cleanup
  docs/userguide/settings.rst
  faust/app/base.py
  faust/types/app.py
  faust/types/settings.py
  requirements/test.txt
  t/functional/test_app.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Fixes rst error
  Changelog.rst
Due: none

Fixes rst warnings
  faust/app/base.py
Due: flake8, mypy

Actually support lists of URLs (Closes #156)
  examples/withdrawals.py
  faust/app/base.py
  faust/transport/base.py
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  faust/types/transports.py
  faust/utils/urls.py
  t/functional/test_app.py
  t/unit/app/test_base.py
  t/unit/utils/test_urls.py
Due: flake8, mypy

fixes typo
  docs/userguide/agents.rst
Due: none

Agent: Fixes agent name when agent defined in closure. Closes #162
  faust/agents/agent.py
Due: flake8, mypy

Models documentation: mention blessed keys
  docs/userguide/models.rst
Due: none

[docs] Update intersphinx refs
  docs/conf.py
Due: flake8

Docs: Fixes sphinx warnings
  Changelog.rst
  docs/reference/index.rst
  docs/userguide/cli.rst
Due: none

Adds faust.utils.urls to API reference
  docs/reference/faust.utils.urls.rst
  docs/reference/index.rst
Due: none

Now depends on Mode 3.0.2
  requirements/default.txt
Due: none

Changelog: change link to Mode 3.0
  Changelog.rst
Due: none

Fixes typecheck
  faust/utils/urls.py
Due: flake8, mypy

Fixes crash on shutdown (object None type not awaitable)
  faust/app/base.py
Due: flake8, mypy

Now depends on mode 3.0.3
  requirements/default.txt
Due: none

Sets release date for 1.4.0
  Changelog.rst
Due: none

Adds mypy_extensions to default requirements
  requirements/default.txt
Due: none

Bump version: 1.3.2 → 1.4.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Remove mypy_extensions double req
  requirements/typecheck.txt
Due: none

Revert "Bump version: 1.3.2 → 1.4.0"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[Docs] Try to use xelatex
  docs/conf.py
Due: flake8

Fixes latex doc build
  docs/conf.py
Due: flake8

[Web] Disable aiohttp access_log (optimization)
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Updates Changelog for 1.4.1
  Changelog.rst
Due: none

Bump version: 1.4.0 → 1.4.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[Web] WIP vibora driver
  faust/web/drivers/__init__.py
  faust/web/drivers/vibora.py
Due: flake8, mypy

[Web] Make response_to_bytes/bytes_to_response generic
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

[Web] Vibora WIP 2
  examples/withdrawals.py
  faust/web/drivers/vibora.py
Due: flake8, mypy

[App] App.BootStrategy now decides what services are started when starting app
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Fix 'aenumerate' typo in User Guide: Stream
  docs/userguide/streams.rst
Due: none

Fix further occurrences of 'aenumerate' typo.
  docs/userguide/streams.rst
Due: none

Fix typo in User Guide: Tasks
  docs/userguide/tasks.rst
Due: none

Tests passing
  faust/app/base.py
  t/unit/app/test_service.py
Due: flake8, mypy

[Table] Views now Raise HTTP 503 if routing information unavailable during rebalance
  faust/app/router.py
  faust/web/apps/router.py
  faust/web/exceptions.py
Due: flake8, mypy

[App] Start producer before web to avoid Future attached to different loop errors at startup
  faust/app/base.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
