Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Now depends on mode 4.3.2
  requirements/default.txt
Due: none

Logging: Make lists of partition sets more beautiful
  faust/worker.py
Due: flake8, mypy

AgentManager: Adds AgentManager.human_tracebacks() to get traceback of all running agent actors
  faust/agents/actor.py
  faust/agents/agent.py
  faust/agents/manager.py
  faust/types/agents.py
Due: flake8, mypy

Consumer: Wait empty now logs traceback of all running agents
  faust/transport/consumer.py
Due: flake8, mypy

Consumer: wait empty now manually garbage collects acked entries from unacked_messages
  faust/transport/consumer.py
Due: flake8, mypy

Tests passing
  t/unit/agents/test_actor.py
Due: flake8

Now depends on robinhood-aiokafka 1.1.5
  requirements/default.txt
Due: none

Tables: Yield back to the event loop more during rebalance
  faust/tables/manager.py
  faust/tables/recovery.py
Due: flake8, mypy

Updates Changelog for 1.10.3
  Changelog.rst
Due: none

Examples: examples/withdrawals: Disable exactly-once
  examples/withdrawals.py
Due: flake8

Adds Eran Kampf to AUTHORS
  AUTHORS.rst
Due: none

Bump version: 1.10.2 → 1.10.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Forward http status in table router response
  faust/app/router.py
Due: flake8, mypy

App: Do not raise error if rebalance interrupted by new rebalance
  faust/app/base.py
Due: flake8, mypy

CI: Try to enable Python 3.8.1 if available on Travis
  .travis.yml
Due: none

Docs, insert flask alike app instantiation
  docs/userguide/application.rst
Due: none

Refactor Settings object
  Makefile
  docs/includes/settingref.txt
  docs/userguide/settings.rst
  extra/tools/render_configuration_reference.py
  faust/__init__.py
  faust/sensors/monitor.py
  faust/topics.py
  faust/types/settings.py
  faust/types/settings/__init__.py
  faust/types/settings/base.py
  faust/types/settings/params.py
  faust/types/settings/sections.py
  faust/types/settings/settings.py
  faust/utils/urls.py
  faust/worker.py
  t/functional/test_app.py
Due: flake8, mypy

More settings improvements
  docs/includes/settingref.txt
  docs/reference/faust.types.settings.base.rst
  docs/reference/faust.types.settings.params.rst
  docs/reference/faust.types.settings.sections.rst
  docs/reference/faust.types.settings.settings.rst
  docs/reference/index.rst
  extra/tools/render_configuration_reference.py
  faust/types/settings/params.py
  faust/types/settings/sections.py
Due: flake8, mypy

Fixes configcheck
  docs/includes/settingref.txt
  extra/tools/render_configuration_reference.py
Due: flake8

Fixes configcheck
  docs/conf.py
  docs/includes/settingref.txt
  docs/reference/faust.types.settings.rst
  docs/reference/faust.types.settings.settings.rst
  faust/types/settings/settings.py
Due: flake8, mypy

Fix a typo in docs reference to 'Managing a cluster'
  docs/userguide/workers.rst
Due: none

Settings: small improvements
  extra/tools/render_configuration_reference.py
  faust/types/settings/base.py
  faust/types/settings/params.py
  faust/types/settings/sections.py
  faust/types/settings/settings.py
Due: flake8, mypy

Updates changelog for pull #536
  Changelog.rst
Due: none

Updates Changelog for pull #534
  Changelog.rst
Due: none

Docs: Re-enable autodoc for faust.types.settings
  docs/reference/faust.types.settings.rst
  docs/reference/faust.types.settings.settings.rst
Due: none

Fix typos in documentation (vs kafka, application, and models pages)
  docs/playbooks/vskafka.rst
  docs/userguide/application.rst
  docs/userguide/models.rst
Due: none

Updates Changelog for pull #529
  Changelog.rst
Due: none

Update docs wording on Python 2 and 3.5 support
  README.rst
  docs/includes/faq.txt
Due: none

Updates changelog for pull #527
  Changelog.rst
Due: none

Remove docs links to deprecated mailing list
  CONTRIBUTING.rst
  README.rst
  docs/includes/resources.txt
  extra/release/sphinx2rst_config.py
Due: flake8

Settings: Document related CLI options
  faust/types/settings/settings.py
Due: flake8, mypy

Adds new :setting:`producer_linger` in seconds to replace producer_linger_ms
  docs/includes/settingref.txt
  extra/tools/render_configuration_reference.py
  faust/transport/producer.py
  faust/types/settings/settings.py
  t/bench/base.py
  t/functional/test_app.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

New :setting:`blocking_timeout` and blocking detector always enabled when set even when --debug is False
  faust/cli/base.py
  faust/transport/producer.py
  faust/types/_env.py
  faust/types/settings/settings.py
  faust/worker.py
  t/functional/test_app.py
  t/unit/cli/test_base.py
Due: flake8, mypy

Adds ability to force enable block detection in production.
  faust/types/_env.py
  faust/worker.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 1.1.6
  requirements/default.txt
Due: none

Updates Changelog for 1.10.4
  Changelog.rst
Due: none

Bump version: 1.10.3 → 1.10.4
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Revert "Bump version: 1.10.3 → 1.10.4"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
