Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Now depends on mode 2.0.4
  requirements/default.txt
Due: none

Updates Changelog for 1.3.2
  Changelog.rst
Due: none

Bump version: 1.3.1 → 1.3.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Tests passing
  t/unit/tables/test_wrappers.py
Due: flake8

[Web] Adds takes_model and gives_model decorators for views
  faust/app/base.py
  faust/types/app.py
  faust/types/web.py
  faust/web/__init__.py
  faust/web/base.py
  faust/web/drivers/aiohttp.py
  faust/web/views.py
Due: flake8, mypy

[utils][terminal][tables] Pass target from dict_as_ansitable to table
  faust/utils/terminal/tables.py
Due: flake8, mypy

100% coverage for faust.tables.wrappers
  faust/tables/base.py
  faust/tables/wrappers.py
  t/conftest.py
  t/unit/tables/test_wrappers.py
Due: flake8, mypy

[docs] Update section on windowed table iteration
  docs/userguide/tables.rst
Due: none

added raw serializer to table
  faust/stores/base.py
  faust/tables/base.py
Due: flake8, mypy

Flakes - apichecks passing
  faust/types/web.py
Due: flake8, mypy

Add broker_request_timeout app setting
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

added max_poll_records setting to consumer
  docs/userguide/settings.rst
  faust/stores/base.py
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

fixed type errors
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

Fixes test issue after table serializer choice pull req
  t/unit/stores/test_base.py
Due: flake8

Store: Forgot to set key_serializer/value_serializer attributes
  faust/stores/base.py
Due: flake8, mypy

[Window] .keys() now consistent with .values()/.items() interface. Closes #224
  faust/tables/wrappers.py
Due: flake8, mypy

made max consumer fetch size configurable
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
Due: flake8, mypy

Adds Alexander Oberegger to AUTHORS
  AUTHORS.rst
Due: none

Cleanup for #221
  docs/userguide/settings.rst
Due: none

Adds Consumer._wait_for_ack
  faust/transport/consumer.py
Due: flake8, mypy

New command "clean_versions" used to delete old version directories (Closes #68)
  faust/cli/clean_versions.py
  faust/cli/faust.py
  faust/types/settings.py
Due: flake8, mypy

Adds missing API reference for cli.clean_versions
  docs/reference/faust.cli.clean_versions.rst
  docs/reference/index.rst
Due: none

Create reply topic with topic_replication_factor if replicas is None or 0
  faust/topics.py
Due: flake8, mypy

Redis cluster client doesn't take a db
  faust/web/cache/backends/redis.py
Due: flake8, mypy

Tests for #228
  faust/web/cache/backends/redis.py
  t/functional/web/test_cache.py
Due: flake8, mypy

Updates Changelog for 1.3.3
  Changelog.rst
Due: none

Bump version: 1.3.2 → 1.3.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Cleanup for table of sets
  examples/tableofset.py
  faust/tables/sets.py
Due: flake8, mypy

Fixes typecheck
  faust/types/tables.py
Due: flake8, mypy

Adds missing API reference for .tables.objects
  docs/reference/faust.tables.objects.rst
  docs/reference/index.rst
Due: none

Documents setting SetTable
  docs/userguide/settings.rst
Due: none

key_type is not being set for key_index tables, this results in deserialization errors when replaying the commit log if you're not using JSON for key values
  faust/tables/wrappers.py
Due: flake8, mypy

Run aiokafka transport in separate thread for consistent heartbeating
  examples/withdrawals.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Remove debugging from example
  examples/withdrawals.py
Due: flake8

Several fixes + generic mode.threads.QueueServiceThread
  examples/withdrawals.py
  faust/app/base.py
  faust/exceptions.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
  faust/web/drivers/aiohttp.py
Due: flake8, mypy
