Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Fix 2.6.0 tests: no default fields for namedtuples on Py2.6
  faust/channels.py
Due: flake8, mypy

Fixes typecheck
  faust/channels.py
Due: flake8, mypy

Fixes consumer not committing offsets with default processing guarantee
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Consumer: Make sure offset 0 is added to read_offset
  faust/transport/consumer.py
Due: flake8, mypy

Fixes tests for #302
  t/unit/agents/test_agent.py
Due: flake8

Fixes tests
  t/unit/transport/test_consumer.py
Due: flake8

Aiokafka: Make sure fetch request does not block method queue
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Consumer: Update read offset after seek_wait
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Consumer: Missing await for self._seek
  faust/transport/consumer.py
Due: flake8, mypy

Now depends on mode 3.0.9
  requirements/default.txt
Due: none

Updates Changelog for 1.4.7
  Changelog.rst
Due: none

Adds Perk Lim to AUTHORS
  AUTHORS.rst
Due: none

Bump version: 1.4.6 → 1.4.7
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Merge changelog from 1.4 branch to docs/history
  docs/history/changelog-1.4.rst
Due: none

tools: cosmetics
  extra/tools/verify_tabletest_changelog.py
Due: flake8

aiokafka: Ensure consumer does not timeout on latest aiokafka
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 1.0.0
  requirements/default.txt
Due: none

Windows: Optimize HoppingWindow.current and .earliest
  faust/windows.py
Due: flake8, mypy

RocksDB: Offset of '' should crash
  faust/stores/rocksdb.py
Due: flake8, mypy

Recovery: Fix off-by-one errors in calculation when only single message in changelog topic
  faust/tables/recovery.py
  t/unit/tables/test_recovery.py
Due: flake8, mypy

Consumer: Seek: Do not set read offset to 0 for offset 0
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Tabletest: Adds command to add single entry to changelog
  examples/tabletest.py
Due: flake8

Updates Changelog
  Changelog.rst
Due: none

Consumer: Seek: Do not set read offset to 0 for offset 0
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

WIP
  faust/transport/utils.py
  t/unit/transport/test_utils.py
Due: flake8, mypy

Move scheduling strategy to setting + reuse instance in consumer (Consumer.scheduler.iterate(records) (Issue #298)
  docs/userguide/settings.rst
  faust/app/base.py
  faust/transport/base.py
  faust/transport/consumer.py
  faust/transport/utils.py
  faust/types/settings.py
  faust/types/transports.py
  t/functional/test_app.py
Due: flake8, mypy

Allow for a user defined scheduling strategy that may replace the default one
  faust/app/base.py
  faust/transport/base.py
  faust/transport/consumer.py
  faust/transport/utils.py
  faust/types/transports.py
Due: flake8, mypy

Bump version: 1.4.7 → 1.4.8
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Must now import from kafka, not rhkafka
  faust/assignor/partition_assignor.py
  faust/transport/drivers/aiokafka.py
  faust/utils/kafka/protocol/admin.py
  faust/utils/kafka/protocol/api.py
  t/consistency/consistency_checker.py
Due: flake8, mypy

[Docs] Fixes underline
  docs/userguide/settings.rst
Due: none

Tests passing
  t/unit/transport/test_consumer.py
  t/unit/transport/test_utils.py
Due: flake8

Revert "Windows: Optimize HoppingWindow.current and .earliest"
  faust/windows.py
Due: flake8, mypy

Fixes HoppingWindow.current
  faust/windows.py
  t/unit/tables/test_wrappers.py
Due: flake8, mypy

Cython optimized faust.windows
  .gitignore
  faust/_cython/__init__.py
  faust/_cython/windows.pyx
  faust/windows.py
  setup.py
  t/unit/windows/test_hopping_window.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
