Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

[Web] Adds type information for faust.web.Request
  faust/web/base.py
Due: flake8, mypy

Removes robinhood-aiokafka check
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Fixes user typechecks for agent decorator
  faust/types/agents.py
Due: flake8, mypy

Removes typecheck for @app.task as it collides with Service.task
  faust/types/app.py
Due: flake8, mypy

Fixes usertypecheck for blueprint.route decorator
  faust/types/web.py
Due: flake8, mypy

Adds user attribute to web.Request type hints
  faust/web/base.py
Due: flake8, mypy

Fixes typecheck
  examples/withdrawals.py
  faust/app/base.py
  faust/web/views.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 0.5.0
  requirements/default.txt
Due: none

Allow for a custom timestamp parameter of a message.
  faust/agents/agent.py
  faust/app/_attached.py
  faust/app/base.py
  faust/channels.py
  faust/cli/send.py
  faust/events.py
  faust/topics.py
  faust/transport/conductor.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/memory.py
  faust/transport/producer.py
  faust/types/agents.py
  faust/types/app.py
  faust/types/channels.py
  faust/types/events.py
  faust/types/transports.py
  faust/types/tuples.py
  faust/web/base.py
  t/consistency/test_consistency.py
  t/functional/helpers.py
  t/functional/test_streams.py
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
  t/unit/test_events.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

Fix timestamp_type in functional/helpers
  faust/topics.py
  t/functional/helpers.py
Due: flake8, mypy

Revert changes to word_count example
  examples/word_count.py
Due: flake8

[docs][settings] Adds section on available transports
  docs/userguide/settings.rst
Due: none

Adds missing API reference for .transport.utils
  docs/reference/faust.transport.utils.rst
  docs/reference/index.rst
Due: none

Tests passing
  t/unit/transport/test_consumer.py
Due: flake8

[CI] Adds CPython 3.7.2 and 3.6.8 to build matrix
  .travis.yml
Due: none

[CI] Use xenial for 3.6.8 build
  .travis.yml
Due: none

[CI] Use dist: xenial instead of pyenv for faster builds
  .travis.yml
Due: none

Adds Ryan Whitten to AUTHORS.rst
  AUTHORS.rst
Due: none

Adds Nimi Wariboko Jr to AUTHORS.rst
  AUTHORS.rst
Due: none

Adds Chris Seto to AUTHORS.rst
  AUTHORS.rst
Due: none

Tentative Changelog update for 1.5.0
  Changelog.rst
Due: none

[CI] CPython 3.6.0,3.6.1,3.6.2 must use dist: trusty
  .travis.yml
Due: none

Fixing the django sample
  examples/django/README.rst
  examples/django/accounts/agents.py
  examples/django/accounts/migrations/0001_initial.py
  examples/django/faustapp/__init__.py
  examples/django/faustapp/app.py
  examples/django/requirements/default.txt
  examples/django/setup.py
Due: flake8

fix on_partitions_revoked docs
  docs/userguide/application.rst
Due: none

Update copyright year to include 2019
  LICENSE
  artwork/LICENSE
  docs/conf.py
  docs/copyright.rst
  examples/django/proj/__init__.py
  faust/__init__.py
Due: flake8, mypy

Updated minimum version of test dependency on pytest to 3.6.
  requirements/test.txt
Due: none

fix(vscelery.rst): fix missing parentheses of 'command' decorator
  docs/playbooks/vscelery.rst
Due: none

Now depends on robinhood-aiokafka <0.5.0
  requirements/default.txt
Due: none

Updates Changelog for 1.4.3
  Changelog.rst
Due: none

Bump version: 1.4.2 → 1.4.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Moves Changelog for 1.4 into history/
  Changelog.rst
  docs/history/changelog-1.4.rst
  docs/history/index.rst
Due: none

Revert "Removes robinhood-aiokafka check"
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Updates changelog for 1.5
  Changelog.rst
Due: none

[docs] Adds versionadded tag for consumer_auto_offset_reset setting
  docs/userguide/settings.rst
Due: none

Adds Amit Ripshtos to AUTHORS.rst (Issue #266)
  AUTHORS.rst
Due: none
