Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Bump version: 1.1.1 → 1.1.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

typos
  Changelog.rst
Due: none

t.functional.agents must have __init__.py
  t/functional/agents/__init__.py
Due: flake8

CPython3.6.0 NamedTuple has no default fields
  t/functional/conftest.py
Due: flake8

Set release date for 1.1.2
  Changelog.rst
Due: none

[cli] Add signal_handlers for all commands
  faust/cli/base.py
Due: flake8, mypy

Producing: wait=True effectively disabled batching, now set to False by default
  faust/topics.py
Due: flake8, mypy

Adds t/bench for benchmarks
  t/bench/__init__.py
  t/bench/baseline.py
Due: flake8

stream_publish_on_commit is now set to False by default
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

[t.bench] Added forwarding benchmark
  t/bench/base.py
  t/bench/baseline.py
  t/bench/forward.py
Due: flake8

Updates Changelog
  Changelog.rst
Due: none

Tests passing
  t/unit/app/test_base.py
Due: flake8

Set release date for 1.1.3
  Changelog.rst
Due: none

Bump version: 1.1.2 → 1.1.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[Web] Adds cache decorator and cache backends
  docs/includes/installation.txt
  docs/introduction.rst
  docs/reference/faust.web.cache.backends.base.rst
  docs/reference/faust.web.cache.backends.memory.rst
  docs/reference/faust.web.cache.backends.redis.rst
  docs/reference/faust.web.cache.backends.rst
  docs/reference/faust.web.cache.cache.rst
  docs/reference/faust.web.cache.exceptions.rst
  docs/reference/faust.web.cache.rst
  docs/reference/index.rst
  docs/userguide/settings.rst
  faust/app/base.py
  faust/app/service.py
  faust/types/app.py
  faust/types/settings.py
  faust/types/web.py
  faust/web/base.py
  faust/web/blueprints.py
  faust/web/cache/__init__.py
  faust/web/cache/backends/__init__.py
  faust/web/cache/backends/base.py
  faust/web/cache/backends/memory.py
  faust/web/cache/backends/redis.py
  faust/web/cache/cache.py
  faust/web/cache/exceptions.py
  faust/web/drivers/aiohttp.py
  faust/web/views.py
  requirements/extras/redis.txt
  requirements/test.txt
  setup.py
  t/functional/test_app.py
Due: flake8, mypy

[web] blueprint.cache key_prefix now defaults to blueprint name
  faust/web/blueprints.py
Due: flake8, mypy

[Web][Cache] Properly handle CacheUnavailable by rerendering content
  faust/app/base.py
  faust/web/cache/cache.py
Due: flake8, mypy

[web][cache][redis] Support password, db number, and setting timeouts from redis backend URL
  faust/web/cache/backends/redis.py
Due: flake8, mypy

[web] Aiohttp driver self.json() now uses faust.utils.json
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

[Web] View can now have __post_init__
  faust/web/views.py
Due: flake8, mypy

[tests] App fixture should init event_loop fixture to make sure loop created
  t/unit/conftest.py
Due: flake8

[Web][Cache] Tests + cleanup
  faust/types/web.py
  faust/web/blueprints.py
  faust/web/cache/__init__.py
  faust/web/cache/backends/memory.py
  faust/web/cache/cache.py
  t/functional/conftest.py
  t/functional/web/conftest.py
  t/functional/web/test_cache.py
Due: flake8, mypy

Cosmetics
  t/functional/web/test_cache.py
Due: flake8

[Web][Cache] Get rid of FutureCache alltogether
  faust/types/web.py
  faust/web/blueprints.py
  faust/web/cache/__init__.py
  faust/web/cache/cache.py
  t/functional/web/test_cache.py
Due: flake8, mypy

Cosmetics
  faust/web/cache/cache.py
Due: flake8, mypy

Bugfix / Package Python Versions
  setup.cfg
  setup.py
Due: flake8

[Web][Cache] Redis tests
  faust/web/blueprints.py
  faust/web/cache/backends/memory.py
  faust/web/cache/backends/redis.py
  t/functional/conftest.py
  t/functional/web/test_cache.py
Due: flake8, mypy

typecheck
  faust/web/cache/backends/memory.py
  faust/web/cache/backends/redis.py
Due: flake8, mypy

tests passing
  t/unit/app/test_service.py
Due: flake8

call_command() utility for vineet
  faust/cli/base.py
  faust/cli/faust.py
Due: flake8, mypy

[Topic] Should take default key_serializer/value_serializer from key_type/value_type
  faust/topics.py
Due: flake8, mypy

[Web][Cache] 100% coverage
  .coveragerc
  faust/web/cache/backends/base.py
  faust/web/cache/backends/memory.py
  faust/web/cache/backends/redis.py
  faust/web/cache/cache.py
  faust/web/views.py
  t/functional/web/test_cache.py
Due: flake8, mypy

fixes typecheck
  faust/cli/base.py
Due: flake8, mypy

tests passing
  t/unit/web/test_views.py
Due: flake8

[Web] Huge refactor
  docs/conf.py
  docs/reference/faust.web.site.rst
  docs/reference/index.rst
  docs/userguide/cli.rst
  docs/userguide/debugging.rst
  faust/app/base.py
  faust/app/service.py
  faust/cli/base.py
  faust/cli/worker.py
  faust/types/_env.py
  faust/types/app.py
  faust/types/settings.py
  faust/web/base.py
  faust/web/blueprints.py
  faust/web/drivers/aiohttp.py
  faust/web/site.py
  faust/worker.py
  t/functional/conftest.py
  t/functional/test_app.py
  t/functional/web/conftest.py
  t/unit/app/test_base.py
  t/unit/app/test_service.py
  t/unit/cli/test_env.py
  t/unit/conftest.py
  t/unit/test_worker.py
  t/unit/web/drivers/test_aiohttp.py
  t/unit/web/test_base.py
Due: flake8, mypy

typecheck
  faust/cli/worker.py
Due: flake8, mypy

configcheck
  docs/userguide/settings.rst
Due: none

tests
  t/unit/app/test_service.py
  tox.ini
Due: flake8

Adds option --without-web and setting to disable web server. (Closes #167)
  docs/userguide/settings.rst
  faust/app/service.py
  faust/cli/worker.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
