Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Updates Changelog.rst for Issue #266
  Changelog.rst
Due: none

[Table][RocksDB] len(table) now only counts databases for active partitions (Closes Issue #270)
  faust/stores/rocksdb.py
Due: flake8, mypy

fix(app): BootStrategy is not declared in all
  faust/app/base.py
Due: flake8, mypy

Docs: Fix Sphinx linking
  docs/playbooks/vscelery.rst
Due: none

Implementation of "exactly once" semantics.
  docs/reference/faust.types.enums.rst
  docs/reference/index.rst
  docs/userguide/settings.rst
  examples/withdrawals.py
  faust/app/base.py
  faust/topics.py
  faust/transport/base.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
  faust/types/__init__.py
  faust/types/app.py
  faust/types/enums.py
  faust/types/settings.py
  faust/types/transports.py
  faust/worker.py
  t/functional/test_app.py
Due: flake8, mypy

Tests passing
  faust/transport/consumer.py
  t/unit/test_topics.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Make fetch_max_wait_ms configurable
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Make fetch_max_wait_ms configurable (#1)
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Adds unit tests for transaction manager/producer
  faust/transport/consumer.py
  t/unit/transport/test_consumer.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

Tests for transport.utils
  t/unit/transport/test_utils.py
Due: flake8

Tests for .web.exceptions
  .coveragerc
  t/unit/web/test_exceptions.py
Due: flake8

[Transactions] Only start transaction producers when exactly_once enabled
  faust/app/base.py
Due: flake8, mypy

Roll back aiokafka to known stable version
  requirements/default.txt
Due: none

Validation WIP
  docs/userguide/models.rst
  faust/types/models.py
Due: flake8, mypy

Adds app.tables.actives_ready + .standbys_ready
  faust/app/base.py
  faust/tables/manager.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
  faust/types/app.py
  faust/types/tables.py
Due: flake8, mypy

[Tables] standbys_ready: Make sure its set even if not assigned standbys
  faust/tables/recovery.py
Due: flake8, mypy

App always starts even without agents
  faust/app/base.py
  t/unit/app/test_service.py
Due: flake8, mypy

Now depends on mode 3.0.7
  requirements/default.txt
Due: none

Updates Changelog for 1.4.4
  Changelog.rst
Due: none

Bump version: 1.4.3 → 1.4.4
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Merge changelog from 1.4 branch to docs/history
  docs/history/changelog-1.4.rst
Due: none

Bumps version to 1.5.0b1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Adds app.tables.actives_ready + .standbys_ready
  faust/app/base.py
  faust/tables/manager.py
  faust/tables/recovery.py
  faust/transport/consumer.py
  faust/types/app.py
  faust/types/tables.py
Due: flake8, mypy

Fixes typo in 1.4.4
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Updates Changelog for 1.4.5
  Changelog.rst
Due: none

Bump version: 1.4.4 → 1.4.5
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Merge changelog from 1.4 branch into docs/history
  docs/history/changelog-1.4.rst
Due: none

Updates Changelog
  Changelog.rst
Due: none

Fix timestamp_type in functional/helpers
  faust/topics.py
  t/functional/helpers.py
Due: flake8, mypy

Allow for a custom timestamp parameter of a message.
  faust/agents/agent.py
  faust/app/_attached.py
  faust/app/base.py
  faust/channels.py
  faust/cli/send.py
  faust/events.py
  faust/topics.py
  faust/transport/conductor.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/memory.py
  faust/transport/producer.py
  faust/types/agents.py
  faust/types/app.py
  faust/types/channels.py
  faust/types/events.py
  faust/types/transports.py
  faust/types/tuples.py
  faust/web/base.py
  t/consistency/test_consistency.py
  t/functional/helpers.py
  t/functional/test_streams.py
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
  t/unit/test_events.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

Small changes to #276
  faust/agents/agent.py
  faust/transport/conductor.py
Due: flake8, mypy

Fixes flakes for #276
  faust/app/_attached.py
  faust/channels.py
  faust/topics.py
  faust/transport/drivers/aiokafka.py
  t/functional/helpers.py
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
Due: flake8, mypy

Fixes typecheck for #276
  faust/transport/drivers/confluent.py
Due: flake8, mypy

Model validation WIP #2
  faust/models/base.py
Due: flake8, mypy

Adds Miha Troha to AUTHORS.rst (Issue #276)
  AUTHORS.rst
Due: none

Updates Changelog (Issue #276)
  Changelog.rst
Due: none

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
