Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

app.timer: Use a generator to prevent timer drift
  faust/app/base.py
  faust/sensors/monitor.py
  faust/tables/base.py
  faust/tables/recovery.py
  faust/transport/consumer.py
  faust/types/app.py
Due: flake8, mypy

fixes typecheck
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

aiokafka: connections_max_idle_ms default was incorrectly set to nine minutes
  Changelog.rst
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Revert "aiokafka: connections_max_idle_ms default was incorrectly set to nine minutes"
  Changelog.rst
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

App: Only wait for recovery if recovery service started
  faust/app/base.py
Due: flake8, mypy

flake8: ignore B011
  setup.cfg
Due: none

fixes tests
  faust/_cython/streams.pyx
  faust/_cython/windows.pyx
  t/unit/app/test_service.py
  t/unit/tables/test_base.py
  t/unit/test_streams.py
  t/unit/transport/test_consumer.py
  t/unit/windows/test_sliding_window.py
Due: flake8

Bump version: 1.5.1 → 1.5.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

CLI: find_app now accepts attr_name keyword argument
  faust/cli/base.py
Due: flake8, mypy

Livecheck working
  docs/reference/faust.livecheck.app.rst
  docs/reference/faust.livecheck.case.rst
  docs/reference/faust.livecheck.exceptions.rst
  docs/reference/faust.livecheck.models.rst
  docs/reference/faust.livecheck.rst
  docs/reference/faust.livecheck.signals.rst
  docs/reference/faust.livecheck.utils.rst
  docs/reference/index.rst
  examples/livecheck.py
  faust/livecheck.py
  faust/livecheck/__init__.py
  faust/livecheck/app.py
  faust/livecheck/case.py
  faust/livecheck/exceptions.py
  faust/livecheck/models.py
  faust/livecheck/signals.py
  faust/livecheck/utils.py
Due: flake8, mypy

fixes typecheck
  faust/cli/base.py
Due: flake8, mypy

Fixes typecheck
  faust/livecheck/app.py
Due: flake8, mypy

Docs: Now depend on Sphinx 2.0 (removes version hacks)
  docs/conf.py
  requirements/docs.txt
Due: flake8

Now depends on sphinx-celery 1.4.8
  requirements/docs-plugins.txt
Due: none

docs/Makefile enable warning-is-error for apicheck + configcheck to mimic CI
  docs/Makefile
Due: none

CI: spell: install enchant
  .travis.yml
Due: none

CI: spell: Do not treat warnings as errors when running sphinx-build
  tox.ini
Due: none

CI: tox: spell -> spelling
  tox.ini
Due: none

Attempt to fix test
  t/unit/test_worker.py
Due: flake8

t/regression: test was using the wrong loop
  t/regression/i323/test_autodiscover.py
  t/regression/i324/test_autodiscover.py
Due: flake8

LiveCheck: aiohttp patches
  faust/livecheck/patches/__init__.py
  faust/livecheck/patches/aiohttp.py
Due: flake8, mypy

LiveCheck: current_test stack and LiveCheck.for_app
  examples/livecheck.py
  faust/livecheck/app.py
  faust/livecheck/case.py
  faust/livecheck/locals.py
  faust/livecheck/models.py
Due: flake8, mypy

App: Adds app.on_produce_message signal
  docs/userguide/application.rst
  faust/app/base.py
  faust/transport/drivers/aiokafka.py
  faust/types/app.py
Due: flake8, mypy

Web: Adds View.url_for and View.path_for
  faust/web/views.py
Due: flake8, mypy

typecheck
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Livecheck: Working with test context propagated over HTTP+Kafka headers
  examples/livecheck.py
  faust/livecheck/__init__.py
  faust/livecheck/app.py
  faust/livecheck/case.py
  faust/livecheck/exceptions.py
  faust/livecheck/models.py
  faust/livecheck/signals.py
Due: flake8, mypy

Web: Added repr for Blueprint
  faust/web/blueprints.py
Due: flake8, mypy

examples: livecheck: Docs
  examples/livecheck.py
Due: flake8

Json serializer can now handle collections.deque
  faust/utils/json.py
Due: flake8, mypy

Monitor: Use deque and pop after append instead of periodic cleanup
  faust/cli/livecheck.py
  faust/livecheck/runners.py
  faust/sensors/monitor.py
  faust/utils/functional.py
Due: flake8, mypy

LiveCheck: Cleanup/refactor/implement missing flags
  docs/reference/faust.cli.livecheck.rst
  docs/reference/faust.livecheck.runners.rst
  docs/reference/index.rst
  examples/livecheck.py
  faust/app/base.py
  faust/cli/faust.py
  faust/livecheck/__init__.py
  faust/livecheck/app.py
  faust/livecheck/case.py
  faust/livecheck/exceptions.py
  faust/livecheck/locals.py
  faust/livecheck/models.py
  faust/livecheck/signals.py
  faust/types/app.py
Due: flake8, mypy

LiveCheck: Adds reporting to Kafka topic
  faust/livecheck/app.py
  faust/livecheck/case.py
  faust/livecheck/models.py
  faust/livecheck/runners.py
Due: flake8, mypy

Adds test for deque_pushpopmax
  t/unit/utils/test_functional.py
Due: flake8

Fixes sensor tests
  faust/sensors/monitor.py
  t/unit/sensors/test_monitor.py
Due: flake8, mypy

CLI: Raise exceptions e.g. there's an import error in aiokafka
  faust/cli/base.py
Due: flake8, mypy
