Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Clears buffer_size on rebalance.
  faust/tables/recovery.py
Due: flake8, mypy

contain session window checking to base table class
  faust/tables/base.py
  faust/tables/wrappers.py
  t/unit/tables/test_wrappers.py
Due: flake8, mypy

add expires and key_index to session
  faust/tables/table.py
Due: flake8, mypy

add abstract `session` method to `CollectionT` type
  faust/types/tables.py
Due: flake8, mypy

Ensure consumer pauses flow during rebalance.
  faust/app/base.py
  faust/transport/consumer.py
  faust/types/transports.py
Due: flake8, mypy

Clear consumer_waiting flag when flow is resumed
  faust/transport/consumer.py
Due: flake8, mypy

Updated tests to handle async stop_flow function.
  t/unit/app/test_base.py
  t/unit/transport/test_consumer.py
Due: flake8

Changed variable name, set flag when consumer end.
  faust/transport/consumer.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Added timeout for stopping of flow to prevent blocking
  faust/transport/consumer.py
Due: flake8, mypy

Conductor: Do not block when buffer full, instead stop fetching from partition
  faust/sensors/base.py
  faust/sensors/monitor.py
  faust/transport/conductor.py
  faust/transport/consumer.py
  faust/types/sensors.py
  t/unit/sensors/test_base.py
  t/unit/sensors/test_monitor.py
Due: flake8, mypy

Fixes typecheck;
  faust/sensors/monitor.py
Due: flake8, mypy

WIP
  examples/commits.py
  examples/task_queue.py
  examples/withdrawals.py
  faust/_cython/streams.pyx
  faust/models/fields.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/confluent.py
  faust/transport/offsets.py
  faust/transport/utils.py
  faust/types/settings/settings.py
  faust/utils/kafka/tools.py
  t/functional/test_models.py
  t/functional/transport/__init__.py
  t/functional/transport/test_offsets.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Consumer: Move track_tp_end_offset to 1.5s timer
  faust/transport/consumer.py
Due: flake8, mypy

Consumer: Do not allow changing active partitions while flushing buffer
  faust/transport/consumer.py
Due: flake8, mypy

Fixes
  examples/commits.py
  faust/transport/drivers/aiokafka.py
  faust/transport/offsets.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

fix(aiokafka): release all fetch waiters after fetching records
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Conform with flake8
  faust/tables/base.py
Due: flake8, mypy

Undo black formatting
  faust/tables/base.py
Due: flake8, mypy

Update WindowedTable NotImplementedError wording
  faust/tables/wrappers.py
Due: flake8, mypy

making keyword args for topic.send explicit
  docs/userguide/streams.rst
Due: none

Minor typo fix in pydoc
  faust/stores/rocksdb.py
Due: flake8, mypy

feat: prometheus monitor added
  .gitignore
  faust/sensors/datadog.py
  faust/sensors/monitor.py
  faust/sensors/prometheus.py
  faust/sensors/statsd.py
  requirements/extras/prometheus.txt
  requirements/test.txt
  t/unit/sensors/test_prometheus.py
Due: flake8, mypy

fix: use current aiohttp application to exponse prometheus metrics
  faust/sensors/prometheus.py
  t/unit/sensors/test_prometheus.py
Due: flake8, mypy

fix: summary replaced with histogram
  faust/sensors/datadog.py
  faust/sensors/prometheus.py
  faust/sensors/statsd.py
  t/unit/sensors/test_prometheus.py
Due: flake8, mypy

Use chain.from_iterable in app/base.py
  faust/app/base.py
Due: flake8, mypy

test
  examples/commits.py
  faust/utils/kafka/tools.py
Due: flake8, mypy

mypy: clean up mypy errors and remove references to unsupported put_nowait_enhanced
  faust/transport/conductor.py
  faust/transport/consumer.py
  faust/types/transports.py
Due: flake8, mypy

flake8: clean up flake8 errors
  examples/django/setup.py
  examples/windowing/hopping.py
  faust/transport/drivers/aiokafka.py
  faust/utils/functional.py
  faust/utils/tracing.py
  faust/web/apps/tables.py
  t/unit/sensors/test_monitor.py
Due: flake8, mypy

Add Table.sliding wrapper for SlidingWindow
  faust/tables/table.py
  faust/types/tables.py
Due: flake8, mypy

Use __annotations__ instead of _field_types for Python 3.9 compatibility.
  faust/models/typing.py
Due: flake8, mypy

Fix typo in application.rst
  docs/userguide/application.rst
Due: none

Fix typo in pageviews.rst
  docs/playbooks/pageviews.rst
Due: none

Fix committed offset was always less than log-end-offset by 1
  faust/transport/consumer.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Bump version of pytest to use a version compatible with pytest-asyncio.
  requirements/test.txt
Due: none

getting tests to run & pass
  .pre-commit-config.yaml
  t/functional/test_models.py
Due: flake8

use forked aiokafka to support static assignment.
  requirements/default.txt
Due: none

fixing tests and install library.
  requirements/default.txt
  t/functional/test_models.py
Due: flake8

change to use private fork of aiokafka for static partition assignment
  requirements/default.txt
Due: none

changing package name and version in preparation to move to private repo
  setup.py
Due: flake8

updating version
  faust/__init__.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
