Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Adding Exception around group_by on a channel
  faust/streams.py
Due: flake8, mypy

Tests passing
  faust/tables/base.py
  faust/tables/table.py
  t/unit/tables/test_base.py
  t/unit/tables/test_table.py
Due: flake8, mypy

Issue-401: correctly commit offset with gaps in the input stream
  faust/transport/consumer.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Docs: fix usage example of custom serializer
  docs/userguide/models.rst
Due: none

Fix type mismatch on aiokafka timestamp_ms
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Codecs: Adds YAML serializer
  faust/serializers/codecs.py
Due: flake8, mypy

Model: Adds lazy_creation option
  faust/models/base.py
Due: flake8, mypy

Fixes typecheck + flakes for #406
  docs/reference/faust.tables.globaltable.rst
  docs/reference/index.rst
  faust/app/base.py
  faust/tables/recovery.py
  faust/types/settings.py
  faust/types/tables.py
Due: flake8, mypy

Fixes typecheck
  faust/models/base.py
  faust/serializers/codecs.py
Due: flake8, mypy

Adds Artak Papikyan to AUTHORS
  AUTHORS.rst
Due: none

Add test_field_descriptors_throws_type_error #425
  t/functional/test_models.py
Due: flake8

remove whitespace to make linter happy
  t/functional/test_models.py
Due: flake8

validation errors is a list, and doesn't raise
  t/functional/test_models.py
Due: flake8

remove validation=True to follow requested behavior
  t/functional/test_models.py
Due: flake8

Models: Adds input_name/output_name to support fields named the same as reserved keywords
  docs/userguide/models.rst
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Fixes configcheck
  docs/userguide/settings.rst
  faust/__init__.py
Due: flake8, mypy

Tests passing
  t/unit/tables/test_table.py
Due: flake8

Fixes for #393: remove recursion and typing_inspect dependency
  faust/models/record.py
  requirements/default.txt
Due: flake8, mypy

switch from git:// to https://
  CONTRIBUTING.rst
Due: none

Fix Stream.filter not acking messages
  faust/_cython/streams.pyx
  faust/streams.py
Due: flake8, mypy

Models: Validate must also check value type (Closes #425)
  faust/models/base.py
  faust/models/fields.py
  faust/types/models.py
Due: flake8, mypy

Models: Custom fields should automatically handle required=False/Optional fields (Closes #430)
  docs/userguide/models.rst
  faust/models/fields.py
  t/functional/test_models.py
Due: flake8, mypy

fixes typos
  docs/userguide/tasks.rst
Due: none

Adds Andrei Tuppitcyn to AUTHORS.rst
  AUTHORS.rst
Due: none

Adds Vikram Patki to AUTHORS
  AUTHORS.rst
Due: none

Adds Victor Miroshnikov to AUTHORS
  AUTHORS.rst
Due: none

Updates Changelog for 1.8
  Changelog.rst
  docs/history/changelog-1.7.rst
  docs/history/index.rst
  docs/userguide/models.rst
  faust/types/models.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

localize skipped value
  faust/streams.py
Due: flake8, mypy

Now depends on mypy 0.730 and fixes typecheck
  faust/__init__.py
  faust/app/base.py
  faust/serializers/schemas.py
  faust/types/models.py
  faust/web/cache/backends/memory.py
  requirements/typecheck.txt
Due: flake8, mypy

Now depends on mode 4.1.0
  requirements/default.txt
Due: none

Table: key_index_table cannot inherit window from parent table (Closes #414)
  faust/tables/wrappers.py
Due: flake8, mypy

CI: Attempt to enable 3.7.4
  .travis.yml
Due: none

CI: Attempt to enable 3.6.9
  .travis.yml
Due: none

CI: Enable 3.7.4 for Windows CI
  .travis.yml
Due: none

Updates Changelog for 1.8.0
  Changelog.rst
Due: none

Bump version: 1.7.3 → 1.8.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Docs: Changelog: Fixes rst markup
  Changelog.rst
Due: none
