Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

fixes pydocstyle
  faust/worker.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 1.1.6
  requirements/default.txt
Due: none

Update to 1.11a1
  Changelog.rst
  docs/history/changelog-1.10.rst
  docs/history/index.rst
  faust/__init__.py
Due: flake8, mypy

Render configuration reference
  docs/includes/settingref.txt
Due: none

Worker: Adds missing docstring for maybe_start_blockdetection
  faust/worker.py
Due: flake8, mypy

Tests passing
  faust/types/settings/params.py
  faust/types/settings/settings.py
  t/unit/app/test_base.py
  t/unit/cli/test_base.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Fixes URL parsing problems originating with either Python 3.8.1 or a new yarl version
  faust/utils/urls.py
Due: flake8, mypy

Adds Wjatscheslaw Kewlin to AUTHORS
  AUTHORS.rst
Due: none

Updates Changelog
  Changelog.rst
Due: none

Fixes flakes
  faust/app/router.py
Due: flake8, mypy

App: Disable TableManager if enable_kafka_consumer is False (Closes #535)
  faust/app/base.py
Due: flake8, mypy

Stream: filter now works with async callbacks (Closes #533)
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

Tests passing
  faust/app/base.py
Due: flake8, mypy

using maybe_async instead of coroutine check, And method signature corrections
  faust/tables/base.py
  faust/types/tables.py
Due: flake8, mypy

Tests passing
  faust/cli/worker.py
  t/unit/app/test_router.py
Due: flake8, mypy

faust.contrib.sentry: Adds sentry support
  docs/reference/faust.contrib.rst
  docs/reference/faust.contrib.sentry.rst
  docs/reference/index.rst
  faust/contrib/__init__.py
  faust/contrib/sentry.py
  requirements/extras/sentry.txt
  setup.py
Due: flake8, mypy

fixes typecheck
  faust/cli/worker.py
  faust/contrib/sentry.py
Due: flake8, mypy

Adds Ramkumar M to AUTHORS
  AUTHORS.rst
Due: none

Tests passing
  t/unit/tables/test_base.py
Due: flake8

Tables: Do not log empty list of offsets
  faust/tables/recovery.py
Due: flake8, mypy

[web] Move table and router blueprints into debug blueprints
  faust/web/base.py
  t/unit/web/test_base.py
Due: flake8, mypy

Fix documentation about Agent.__call__()
  faust/agents/agent.py
Due: flake8, mypy

Fix sample in "Create a local channel" channel
  docs/userguide/application.rst
Due: none

Fix sample "Define a new stream processor"
  docs/userguide/application.rst
Due: none

Fix #549: SetManager.flush timer overlap warning
  faust/tables/objects.py
Due: flake8, mypy

Fix incorrect url in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Adds failing test case for #181
  t/functional/agents/helpers.py
  t/functional/agents/test_isolated_partitions.py
Due: flake8

Topic: Remove topic with active_partitions from Conductor after iteration ends (Closes #181)
  faust/topics.py
Due: flake8, mypy

Stream: Return values from processors when iterating with Stream.items()
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

Forward options for controlling kafka, consumer-only and produre-only
  faust/app/base.py
Due: flake8, mypy

doc: websocket handler documentation added
  docs/userguide/tasks.rst
Due: none

Patch table level store override
  faust/tables/base.py
Due: flake8, mypy

recovery: _slurp should only stop recovery if fetching already started
  faust/tables/recovery.py
Due: flake8, mypy

transport/cython-conductor: Do not raise CancelledErrors
  faust/transport/_cython/conductor.pyx
Due: none

Fixed ack for tombstones in cython-stream
  faust/_cython/streams.pyx
Due: none

enable offset resetting to 0 (used for recovery)
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

added consumer_group_instance_id setting
  faust/transport/drivers/aiokafka.py
  faust/types/settings/settings.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

updated configref
  docs/includes/settingref.txt
Due: none

Configure correctly the Agent's on_error when passed from @app.agent
  faust/app/base.py
Due: flake8, mypy
