Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Docs: Adds missing reference for .serializers.schemas
  docs/reference/faust.serializers.schemas.rst
Due: none

flakes now depends on flake8-pytest
  requirements/flakes.txt
Due: none

Now depends on mode 4.0.1
  requirements/default.txt
Due: none

Add missing field decl in ConductorHandler(pyx)
  faust/transport/_cython/conductor.pyx
Due: none

Channel: Refactors Topic into Topic + SerializedChannel
  faust/app/base.py
  faust/channels.py
  faust/serializers/schemas.py
  faust/topics.py
  faust/types/serializers.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Adds Victor Miroshnikov to AUTHORS
  AUTHORS.rst
Due: none

Sets release date for 1.7.4
  Changelog.rst
Due: none

Bump version: 1.7.2 → 1.7.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Bump version: 1.7.3 → 1.7.4
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Document the :setting:`Event` setting
  docs/userguide/settings.rst
Due: none

Adds new :setting:`Schema` setting.
  docs/userguide/settings.rst
  faust/channels.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

SerializedChannel need to set app attribute before creating schemas
  faust/channels.py
Due: flake8, mypy

Fixes topic tests
  faust/topics.py
  t/unit/test_topics.py
Due: flake8, mypy

100% coverage for faust.app.base
  t/functional/conftest.py
  t/functional/test_app.py
Due: flake8

100% coverage for faust.models.fields
  faust/models/fields.py
  t/unit/models/__init__.py
  t/unit/models/test_fields.py
Due: flake8, mypy

100% coverage for faust.models.record
  t/functional/test_models.py
Due: flake8

100% coverage for faust.serializers.schemas
  faust/serializers/schemas.py
  t/unit/test_topics.py
Due: flake8, mypy

100% coverage for faust.stores.rocksdb
  t/unit/stores/test_rocksdb.py
Due: flake8

100% coverage for faust.transport.conductor
  t/unit/transport/test_conductor.py
Due: flake8

Attempt to fix tests
  t/unit/stores/test_rocksdb.py
Due: flake8

100% coverage for faust.transport.consumer
  t/unit/transport/test_consumer.py
Due: flake8

Coverage for faust.transport.producer
  faust/transport/producer.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

Adds missing coverage
  faust/exceptions.py
  t/functional/test_models.py
  t/unit/models/test_fields.py
  t/unit/transport/test_conductor.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

100% coverage for faust.exceptions
  t/unit/models/test_fields.py
Due: flake8

Docs: Adds serializers.schemas to reference index
  docs/reference/index.rst
Due: none

Docs: CLI option/argument now have sensible repr
  faust/cli/base.py
  faust/utils/codegen.py
Due: flake8, mypy

Added global tables support Made all topics to be standby for the global table except it's own topic Fixes #366
  faust/__init__.py
  faust/app/base.py
  faust/tables/globaltable.py
  faust/tables/recovery.py
  faust/tables/sets.py
  faust/types/settings.py
  faust/types/tables.py
Due: flake8, mypy

Bump Versions to 1.7.4
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Sensors: Adds HTTP monitoring of status codes and latency
  faust/sensors/base.py
  faust/sensors/datadog.py
  faust/sensors/monitor.py
  faust/sensors/statsd.py
  faust/types/sensors.py
  faust/web/views.py
Due: flake8, mypy

Tests for web sensors
  docs/_ext/faustdocs.py
  docs/userguide/sensors.rst
  faust/sensors/datadog.py
  faust/sensors/monitor.py
  t/unit/sensors/test_base.py
  t/unit/sensors/test_datadog.py
  t/unit/sensors/test_monitor.py
  t/unit/sensors/test_statsd.py
Due: flake8, mypy

Sphinx: Fix import of NoUri on older versions
  docs/_ext/faustdocs.py
Due: flake8

Fix wrong variable in example
  docs/userguide/tables.rst
Due: none

clear _recovery_started event of table manager on recovery completion
  faust/tables/recovery.py
Due: flake8, mypy

Fix Optional fields coercion
  faust/models/record.py
  requirements/default.txt
  t/functional/test_models.py
Due: flake8, mypy

Document purpose of Stream.mundane_level
  faust/streams.py
Due: flake8, mypy

Adds Table.use_partitioner option to use Kafka partitioning instead of source event
  faust/tables/base.py
  faust/types/tables.py
Due: flake8, mypy

docs/contributing: indexcheck does not exist in the Makefile.
  docs/contributing.rst
Due: none

[web][exceptions] Fix typo in NotFound error
  faust/web/exceptions.py
Due: flake8, mypy

Adding Exception around group_by on a channel
  faust/streams.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
