Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

[stress][killer] Do different periods, with bursts of kill -9
  t/stress/killer.py
Due: flake8

Reorganize t/stress for multiple producers and agents
  t/stress/__init__.py
  t/stress/__main__.py
  t/stress/agents/__init__.py
  t/stress/agents/simple.py
  t/stress/app.py
  t/stress/config.py
  t/stress/decorators.py
  t/stress/models.py
  t/stress/producer.py
  t/stress/producers/__init__.py
  t/stress/producers/withdrawals.py
  t/stress/topics.py
  t/stress/worker.py
Due: flake8

Do chdir as early as possible when --workdir set
  faust/cli/base.py
Due: flake8, mypy

Adds t/stress/requirements.txt
  MANIFEST.in
  t/stress/requirements.txt
Due: none

[stress] Only log errors to Sentry
  t/stress/config.py
Due: flake8

[aiokafka] Put async timeout on create topic around try across nodes
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Update changelog history for 1.0.22
  Changelog.rst
Due: none

Bump version: 1.0.21 → 1.0.22
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Docstring
  t/stress/killer.py
Due: flake8

Nicer wording
  t/stress/killer.py
Due: flake8

[stress] Each test is now an app: t.stress.tests.simple
  faust/transport/drivers/aiokafka.py
  t/stress/__init__.py
  t/stress/__main__.py
  t/stress/app.py
  t/stress/decorators.py
  t/stress/models.py
  t/stress/producer.py
  t/stress/producers/withdrawals.py
  t/stress/tests/__init__.py
  t/stress/tests/simple/__init__.py
  t/stress/tests/simple/app.py
  t/stress/tests/simple/requirements.txt
  t/stress/topics.py
Due: flake8, mypy

Support apps without producers
  t/stress/producer.py
Due: flake8

[stress] new test: forwarder
  t/stress/killer.py
  t/stress/tests/forwarder/__init__.py
  t/stress/tests/forwarder/app.py
  t/stress/tests/forwarder/requirements.txt
Due: flake8

[stress] Tweak settings on forwarder test
  t/stress/tests/forwarder/app.py
Due: flake8

Temporarily disable attachments
  faust/app/_attached.py
Due: flake8, mypy

stress forwarder: stream_buffer_maxsize=1
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] forwarder disable stream_wait_empty;
  t/stress/tests/forwarder/app.py
Due: flake8

.send(value=...) AAAAA
  t/stress/tests/forwarder/app.py
Due: flake8

stress forwarder: rename app
  t/stress/tests/forwarder/app.py
Due: flake8

[stress][forwarder] Check for duplicates after sending messages
  t/stress/tests/forwarder/app.py
Due: flake8

[stress][forwarder] Send messages faster
  t/stress/tests/forwarder/app.py
Due: flake8

cosmetics
  faust/transport/consumer.py
Due: flake8, mypy

Adds new setting: stream_publish_on_commit
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Fixeas typo mode -> fausst in py.typed manifest
  setup.py
Due: flake8

Now depends on aiokafka 0.4.15
  requirements/default.txt
Due: none

Test requirements must depend on extras/statsd.txt
  requirements/test.txt
Due: none

Monitor tests passing, propeperly serialize metric_counts
  faust/sensors/monitor.py
  t/unit/sensors/test_monitor.py
Due: flake8, mypy

Adds Python 3.7 trove classifier
  setup.cfg
Due: none

[stress] First argument to app.task must be app
  t/stress/tests/forwarder/app.py
Due: flake8

Remove dependency async_timeout
  faust/transport/drivers/aiokafka.py
  requirements/default.txt
  setup.cfg
Due: flake8, mypy

docs: Fixes 3.7 error
  docs/_ext/typehints.py
Due: flake8

typecheck
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[stress] Better progress reporting
  t/stress/app.py
Due: flake8

[stress] Forgot to commit apps
  t/stress/tests/forwarder/app.py
  t/stress/tests/simple/app.py
Due: flake8

Enable color IF tty
  faust/cli/base.py
Due: flake8, mypy

[stress] Views and test status command
  t/stress/app.py
Due: flake8

[stress] status command now takes --port argument
  t/stress/app.py
Due: flake8

[stress] Adds --description argument to status command
  t/stress/app.py
Due: flake8

[stress] Add UNASSIGNED status
  t/stress/app.py
Due: flake8

[stress][chaos] Proper severities
  t/stress/killer.py
Due: flake8

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
