Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Now depends on mode 3.1.2
  requirements/default.txt
Due: none

reqs: mypy 0.700 is crashing
  requirements/typecheck.txt
Due: none

pytest-xdist is crashing
  requirements/test.txt
Due: none

Now depends on mode 3.1.3
  requirements/default.txt
Due: none

CLI: Raise exceptions e.g. there's an import error in aiokafka
  faust/cli/base.py
Due: flake8, mypy

Docs: Adds missing reference pages
  docs/reference/faust.livecheck.locals.rst
  docs/reference/faust.livecheck.patches.aiohttp.rst
  docs/reference/faust.livecheck.patches.rst
  docs/reference/index.rst
Due: none

Regression tests should not reuse app instances between cases
  t/regression/i323/conftest.py
  t/regression/i323/proj/faust.py
  t/regression/i323/test_autodiscover.py
  t/regression/i324/conftest.py
  t/regression/i324/proj/faust.py
  t/regression/i324/test_autodiscover.py
Due: flake8

t/regression: Fixes flaky tests
  t/regression/i323/conftest.py
  t/regression/i323/proj/foo/bar/baz/commands.py
  t/regression/i323/proj323/__init__.py
  t/regression/i323/proj323/faust.py
  t/regression/i323/proj323/foo/__init__.py
  t/regression/i323/proj323/foo/bar/__init__.py
  t/regression/i323/proj323/foo/bar/baz/__init__.py
  t/regression/i323/proj323/foo/bar/baz/commands.py
  t/regression/i323/test_autodiscover.py
  t/regression/i324/conftest.py
  t/regression/i324/proj/foo/bar/baz/commands.py
  t/regression/i324/proj324/__init__.py
  t/regression/i324/proj324/__main__.py
  t/regression/i324/proj324/faust.py
  t/regression/i324/proj324/foo/__init__.py
  t/regression/i324/proj324/foo/bar/__init__.py
  t/regression/i324/proj324/foo/bar/baz/__init__.py
  t/regression/i324/proj324/foo/bar/baz/commands.py
  t/regression/i324/proj324/foo/test_x.py
  t/regression/i324/test_autodiscover.py
Due: flake8

Makefile: Adds update-bandit target
  Makefile
Due: none

Update bandit baseline with new approved warning
  extra/bandit/baseline.json
Due: none

pytest.approx flaky, use less precision
  t/unit/transport/test_consumer.py
Due: flake8

Livecheck: Case should ignore non-readable attributes
  faust/livecheck/app.py
Due: flake8, mypy

t/functional: test_app: livecheck aiohttp patch affects identity
  t/functional/test_app.py
Due: flake8

[web][cache] Add option to include headers when building cache key
  faust/types/web.py
  faust/web/base.py
  faust/web/blueprints.py
  faust/web/cache/cache.py
  t/functional/web/test_cache.py
Due: flake8, mypy

LiveCheck: 100% Coverage
  examples/livecheck.py
  faust/livecheck/app.py
  faust/livecheck/case.py
  faust/livecheck/exceptions.py
  faust/livecheck/models.py
  faust/livecheck/signals.py
  t/conftest.py
  t/unit/livecheck/__init__.py
  t/unit/livecheck/conftest.py
  t/unit/livecheck/patches/test_aiohttp.py
  t/unit/livecheck/test_app.py
  t/unit/livecheck/test_case.py
  t/unit/livecheck/test_models.py
  t/unit/livecheck/test_runners.py
  t/unit/livecheck/test_signals.py
  t/unit/livecheck/test_utils.py
Due: flake8, mypy

Coverage for recent additions
  t/unit/agents/test_manager.py
  t/unit/web/test_blueprints.py
  t/unit/web/test_views.py
Due: flake8

cov: Ignore .cli.livecheck
  .coveragerc
Due: none

Now depends on mode 3.2.0
  requirements/default.txt
Due: none

100% Coverage
  faust/app/base.py
  faust/livecheck/case.py
  faust/sensors/monitor.py
  faust/tables/base.py
  faust/tables/recovery.py
  faust/transport/consumer.py
  t/unit/agents/test_manager.py
  t/unit/app/test_base.py
  t/unit/livecheck/test_case.py
  t/unit/livecheck/test_signals.py
  t/unit/sensors/test_monitor.py
  t/unit/tables/test_base.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 1.0.2
  requirements/default.txt
Due: none

Updates Changelog
  Changelog.rst
Due: none

Bump version: 1.5.2 → 1.5.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fixes test on Python <3.7
  faust/livecheck/app.py
Due: flake8, mypy

Provisional docs
  docs/userguide/livecheck.rst
Due: none

Docs: Remove probable rst errors
  docs/userguide/livecheck.rst
Due: none

Docs: add livecheck to index
  docs/userguide/index.rst
Due: none

Use AsyncGenerator from mode on 3.6.0
  faust/livecheck/case.py
  requirements/default.txt
Due: flake8, mypy

JSON: Use :pypi:`orjson` if available (also pip install faust[fast] / faust[orjson]
  docs/introduction.rst
  faust/utils/json.py
  requirements/extras/fast.txt
  requirements/extras/orjson.txt
  setup.py
Due: flake8, mypy

Now depends on mode 3.2.2
  requirements/default.txt
Due: none

tox: docs: disable warnings
  tox.ini
Due: none

Docs: fixes symbol error in utils.json
  faust/utils/json.py
Due: flake8, mypy

CI: configcheck: disable -j2
  tox.ini
Due: none

orjson: fixes typo options -> option
  faust/utils/json.py
Due: flake8, mypy
