Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Fixes typecheck
  faust/streams.py
Due: flake8, mypy

Window expiry: Fixes possible race condition if KeyError raised
  faust/tables/base.py
Due: flake8, mypy

Remove reference to now removed app.Set (Closes #190)
  docs/userguide/application.rst
Due: none

fixes typecheck
  faust/tables/base.py
Due: flake8, mypy

flakes
  faust/assignor/copartitioned_assignor.py
  faust/cli/send.py
  faust/sensors/datadog.py
  faust/streams.py
  faust/transport/drivers/aiokafka.py
  setup.cfg
Due: flake8, mypy

Fix now()
  examples/windowing/tumbling_now.py
  faust/tables/base.py
  faust/types/windows.py
  t/unit/windows/test_tumbling_window.py
Due: flake8, mypy

Aiocontextvars 0.2 changed API
  requirements/py36.txt
Due: none

improve-current
  examples/windowing/tumbling_current.py
  faust/tables/wrappers.py
  t/unit/tables/test_table.py
Due: flake8, mypy

Allow windowed_table.now() outside of stream
  faust/tables/base.py
Due: flake8, mypy

JSON serialize NamedTuples as lists, not dicts
  faust/utils/json.py
  t/unit/windows/test_window_range.py
Due: flake8, mypy

flakes
  faust/utils/json.py
Due: flake8, mypy

flakes
  t/unit/tables/test_table.py
Due: flake8

flakes
  examples/windowing/tumbling_now.py
Due: flake8

wording
  examples/kubernetes/README.md
  examples/kubernetes/consumer/README.md
  examples/kubernetes/producer/README.md
Due: none

Updates Changelog for 1.2.2
  Changelog.rst
Due: none

Python 3.6.0 does not support methods on NamedTuple
  faust/types/windows.py
  faust/windows.py
Due: flake8, mypy

Bump version: 1.2.1 → 1.2.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fix window ranges for hopping windows
  faust/windows.py
  t/unit/windows/test_hopping_window.py
Due: flake8, mypy

Add earliest to window and fix now() for hopping
  faust/tables/base.py
  faust/types/windows.py
  faust/windows.py
  t/unit/windows/test_hopping_window.py
  t/unit/windows/test_tumbling_window.py
Due: flake8, mypy

Fix window_now test
  t/unit/tables/test_base.py
Due: flake8

Windowing examples showcasing the WindowWrapper API
  examples/windowing/hopping.py
  examples/windowing/tumbling.py
  examples/windowing/tumbling_current.py
  examples/windowing/tumbling_now.py
Due: flake8

This :clap: is :clap: how :clap: we :clap: focus :clap:
  faust/app/base.py
  faust/channels.py
  faust/tables/manager.py
  faust/tables/recovery.py
Due: flake8, mypy

Windowing docs
  docs/userguide/tables.rst
Due: none

Looks like its starting to work now
  faust/app/base.py
  faust/channels.py
  faust/tables/manager.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/memory.py
  faust/types/transports.py
  t/unit/app/test_base.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Fix clearing of signals
  faust/tables/recovery.py
Due: flake8, mypy

Restart recovery when another rebalance occurs
  faust/tables/recovery.py
Due: flake8, mypy

Remove extraenous line
  faust/app/base.py
Due: flake8, mypy

Fixes typos
  faust/tables/recovery.py
Due: flake8, mypy

Consumer: Skipping paused partition should not be error log
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Cleanup
  docs/reference/faust.tables.recovery.rst
  docs/reference/index.rst
  faust/app/service.py
  faust/tables/changelogs.py
  faust/tables/manager.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
  faust/types/tables.py
  t/unit/app/test_service.py
  t/unit/tables/test_changelogs.py
Due: flake8, mypy

Tables: Skip recovery when no tables
  faust/tables/recovery.py
Due: flake8, mypy

Tests passing
  faust/channels.py
  faust/tables/manager.py
  faust/types/channels.py
  t/functional/agents/helpers.py
  t/unit/agents/test_manager.py
  t/unit/app/test_base.py
  t/unit/transport/test_conductor.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Adds App.on_rebalance_complete signal
  examples/word_count.py
  faust/app/base.py
  faust/tables/recovery.py
  faust/types/app.py
Due: flake8, mypy

Recovery: flush buffers before starting new recovery/stopping
  faust/tables/recovery.py
Due: flake8, mypy

Fixes rebalancing issues
  examples/tabletest.py
  faust/app/base.py
  faust/tables/manager.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

RocksDB: Iterating over table keys/items/values should hide standby partitions
  faust/stores/base.py
  faust/stores/rocksdb.py
  faust/tables/base.py
  faust/types/stores.py
Due: flake8, mypy

Rebalancing: Increase stability when nodes frequently joins/leaves
  examples/tabletest.py
  faust/app/base.py
  faust/cli/base.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  faust/types/transports.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
