Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Adds missing type annotations to datadog (Issue #160)
  faust/sensors/datadog.py
Due: flake8, mypy

Fixes typecheck for aiokafka transport after pull request
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[web] fix web request example
  docs/userguide/tasks.rst
  examples/word_count.py
Due: flake8

Aiohttp Request has no .GET but has .query
  docs/userguide/tasks.rst
  examples/word_count.py
Due: flake8

Updates Changelog for 1.1
  Changelog.rst
Due: none

[Model] Adds support for custom type coercions
  Changelog.rst
  docs/userguide/models.rst
  faust/models/base.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Now depends on mode 1.17.0
  requirements/default.txt
Due: none

Requirements: Assume only major versions are backwards incompatible
  requirements/default.txt
Due: none

Updates Changelog (1.17)
  Changelog.rst
Due: none

Remove hack used while profiling from examples/withdrawals.py
  examples/withdrawals.py
Due: flake8

[Reqs] click_completion is now optional
  Changelog.rst
  faust/cli/base.py
  faust/cli/completion.py
  requirements/default.txt
Due: flake8, mypy

Cosmetics
  Changelog.rst
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

Models: Renames .loads arg default_serializer to serializer (backward compatible)
  faust/cli/base.py
  faust/models/base.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Fixes several model issues + optimize eq+__hash__
  faust/models/base.py
  faust/models/record.py
  faust/utils/codegen.py
  t/functional/test_models.py
Due: flake8, mypy

Now depends on mode 1.17.1
  Changelog.rst
  requirements/default.txt
Due: none

@table_route: Support using match_info as key
  Changelog.rst
  docs/userguide/tasks.rst
  examples/word_count.py
  faust/app/base.py
  faust/types/app.py
  faust/types/web.py
  t/unit/app/test_base.py
Due: flake8, mypy

Set release-date for 1.1.0
  Changelog.rst
Due: none

Bump version: 1.0.30 → 1.1.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Docs: Adds project layout suggestions
  docs/userguide/application.rst
Due: none

cosmetics
  docs/userguide/application.rst
Due: none

[Web] Fix registering URL path so theres no double slashes
  faust/web/base.py
  faust/web/blueprints.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Now depends on mode 1.17.2
  requirements/default.txt
Due: none

Fixes typecheck on mypy 0.630
  faust/streams.py
Due: flake8, mypy

Updates Changelog for 1.1.1
  Changelog.rst
Due: none

Fixes docs build
  docs/userguide/application.rst
Due: none

Bump version: 1.1.0 → 1.1.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[Docs] Dir.layout example lacked __init__.py files, also made it clear `proj` is a Python package.
  docs/userguide/application.rst
Due: none

Fix sourcecode
  docs/userguide/tasks.rst
Due: none

Agent: Fixes bug with --concurrency=n where events processed n times :crying_cat_face:
  faust/agents/agent.py
Due: flake8, mypy

Agent tests passing
  t/unit/agents/test_agent.py
Due: flake8

Agent with concurrency=1000 no longer logs thousands of messages at info level
  faust/agents/actor.py
  faust/agents/agent.py
  faust/streams.py
Due: flake8, mypy

Now depends on mode 1.17.3
  requirements/default.txt
Due: none

[Stream] Adding sleep fixes partition starving when concurrency is used
  faust/streams.py
Due: flake8, mypy

Adds test to make sure ``concurrency`` does not process in duplicate
  t/functional/test_agents.py
Due: flake8

Updates Changelog for 1.1.2
  Changelog.rst
Due: none

Wording
  t/functional/test_agents.py
Due: flake8

Bump version: 1.1.1 → 1.1.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[Tests] Adds functional tests for isolated_partitions
  t/functional/agents/helpers.py
  t/functional/agents/test_concurrency.py
  t/functional/agents/test_isolated_partitions.py
  t/functional/conftest.py
Due: flake8

Revert "Bump version: 1.1.1 → 1.1.2"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy
