Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Check if topic exists in cluster metadata
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Typecheck passing
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

controlled_node -> controller_node
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[docs] Fix typo. Fixes #125
  docs/introduction.rst
Due: none

Update changelog for 1.0.28
  Changelog.rst
Due: none

Bump version: 1.0.27 → 1.0.28
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[examples] cleanup withdrawals example
  examples/withdrawals.py
Due: flake8

[Table] Fixes hanging when there is nothing to recover from on Python 3.7 (Fixes Issue #134)
  faust/tables/base.py
  faust/tables/changelogs.py
  faust/tables/manager.py
Due: flake8, mypy

Better metrics tracking for highwaters
  faust/sensors/monitor.py
  faust/sensors/statsd.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  t/unit/sensors/test_monitor.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

[requirements] Now depends on robinhood-aiokafka 0.4.18
  requirements/default.txt
Due: none

Updates Changelog
  Changelog.rst
Due: none

Compress the partition assignor metadata using zlib
  faust/assignor/partition_assignor.py
Due: flake8, mypy

Update assignor version
  faust/assignor/partition_assignor.py
Due: flake8, mypy

Update changelog
  Changelog.rst
Due: none

Bump version: 1.0.28 → 1.0.29
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Models: Records can now have recursive fields, e.g. class Node with a field that is a list of Node.
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

Now depends on mode 1.15.1
  requirements/default.txt
Due: none

[Model] Models can now have fields of type Optional[Model]
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

[Model] Allow for List[Model] that is None
  faust/models/record.py
Due: flake8, mypy

[Models] Model options such as allow_blessed_key/isodates/include_metadata now inherited from parent class
  faust/models/base.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

[Stream] Fixed NameError when pushing non-Event value into stream
  faust/streams.py
Due: flake8, mypy

Message.timestamp_type must be int, not str
  faust/agents/agent.py
  faust/transport/drivers/memory.py
  faust/types/agents.py
  faust/types/tuples.py
  t/functional/helpers.py
Due: flake8, mypy

Updates Changelog for 1.0.30
  Changelog.rst
Due: none

Bump version: 1.0.29 → 1.0.30
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Backward incompatible: *.send now requires keyword-only arguments only
  faust/agents/agent.py
  faust/app/base.py
  faust/channels.py
  faust/types/agents.py
  faust/types/channels.py
Due: flake8, mypy

Adds app.producer_only: Start app without consumer/tables/agents/topics
  faust/app/base.py
  faust/app/service.py
Due: flake8, mypy

Change PyPI links to use pypi.org
  README.rst
  docs/includes/installation.txt
  docs/includes/tags.txt
  docs/templates/readme.txt
  examples/django/setup.py
  examples/withdrawals.py
  setup.py
Due: flake8

change default key serializer to raw
  docs/userguide/settings.rst
  faust/types/settings.py
  t/functional/test_app.py
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
Due: flake8, mypy

Tests passing
  t/unit/agents/test_agent.py
Due: flake8

[App] @app.task decorator now also takes on_leader argument (Closes #131)
  faust/app/base.py
  faust/app/service.py
Due: flake8, mypy

[Examples] Accidentally commit withdrawal example having app.producer_only enabled
  examples/withdrawals.py
Due: flake8

Tentative changelog for 1.1
  Changelog.rst
  docs/history/changelog-1.0.rst
  docs/history/index.rst
Due: none

[docs][conf] update dev and stable version specifications
  docs/conf.py
Due: flake8

Fixes typecheck
  faust/app/base.py
Due: flake8, mypy

Tests passing
  t/unit/app/test_service.py
Due: flake8

Try to add CPython 3.7 travis build
  .travis.yml
  examples/withdrawals.py
  tox.ini
Due: flake8

Removes test from example
  examples/withdrawals.py
Due: flake8

Try to fix 3.7 build
  .travis.yml
Due: none

3.7 build: Do not use pyenv
  .travis.yml
Due: none

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
