Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

[stress] Adds status REBALANCING
  t/stress/app.py
Due: flake8

fixes typecheck
  faust/cli/base.py
  faust/tables/base.py
  faust/types/streams.py
Due: flake8, mypy

[stress] Refactor checks into generic system checks
  Makefile
  faust/sensors/checks.py
  faust/types/app.py
  faust/types/sensors.py
  setup.cfg
  t/stress/app.py
  t/stress/tests/forwarder/app.py
Due: flake8, mypy

App.unassigned is now set by _on_partitions_assigned
  faust/app/base.py
  faust/sensors/checks.py
  faust/types/app.py
Due: flake8, mypy

[stress] t/stress/requirements.txt now depends on setproctitle
  t/stress/requirements.txt
Due: none

[stress] counter_sent is on leader only
  t/stress/tests/forwarder/app.py
Due: flake8

Wording
  README.rst
  docs/includes/intro.txt
Due: none

[stress] Ugh
  t/stress/tests/forwarder/app.py
Due: flake8

[stress][forwarder] try different strategy
  t/stress/tests/forwarder/app.py
Due: flake8

[stress][forwarder] Must keep track of value per-partition
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] Duplicate check is now a system check
  faust/sensors/checks.py
  t/stress/tests/forwarder/app.py
Due: flake8, mypy

[stress] Fixes syntax error
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] forwarder must forward to same partition
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] Bypass forward agent
  t/stress/tests/forwarder/app.py
Due: flake8

[stress][forwarder] attempt to account for rebalancing
  t/stress/tests/forwarder/app.py
Due: flake8

[stress][forwarder] bump version
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] Fixes typo eq -> ne
  faust/sensors/checks.py
Due: flake8, mypy

Refactor system checks to send reports to Kafka topic
  faust/types/sensors.py
  t/stress/app.py
  t/stress/reports/__init__.py
  t/stress/reports/app.py
  t/stress/reports/checks.py
  t/stress/reports/collector.py
  t/stress/reports/models.py
  t/stress/reports/states.py
  t/stress/tests/forwarder/app.py
Due: flake8, mypy

[stress] Fixes typo
  t/stress/app.py
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] Send report also on UNASSIGNED/REBALANCING
  t/stress/reports/checks.py
  t/stress/reports/models.py
Due: flake8

[stress] Fixes typo
  t/stress/reports/checks.py
Due: flake8

[Web] Adds web.add_static(prefix, fs_path)
  faust/web/base.py
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

[Web] Adds app.on_webserver_init for ability to serve static files using web.add_static
  faust/app/base.py
  faust/types/app.py
  faust/web/site.py
Due: flake8, mypy

[stress][Dashboard] Now serves static files at /assets/
  t/stress/reports/app.py
  t/stress/reports/assets/__init__.py
Due: flake8

[stress] Add assets and templates to MANIFEST.in
  MANIFEST.in
Due: none

[stress] Checks are no longer being iterated over, instead one coro per check with skew
  t/stress/reports/checks.py
Due: flake8

Now depends on aiokafka 0.4.16
  requirements/default.txt
Due: none

[stress] Report on gaps in sequence (Issue #115)
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] gaps accidentally increased in tandem with duplicates (#115)
  t/stress/tests/forwarder/app.py
Due: flake8

[Table] Account for offset_skew setting in highwater calculation
  faust/tables/changelogs.py
Due: flake8, mypy

[Stress] Adds table test
  t/stress/tests/tables/__init__.py
  t/stress/tests/tables/app.py
  t/stress/tests/tables/requirements.txt
Due: flake8

Fixes rst error
  README.rst
  docs/includes/intro.txt
Due: none

More rst derp
  README.rst
  docs/includes/intro.txt
Due: none

[Docs] Monkeypatch Sphinx to work on Python 3.7
  docs/conf.py
Due: flake8

[Docs] Fixes DeprecatedInSphinx2.0 warning
  docs/_ext/typehints.py
Due: flake8

[Docs] Fixes ForwardRef has no attribute __origin__ error on Python 3.7
  docs/conf.py
Due: flake8

Add Shrey to contributors list
  AUTHORS.rst
Due: none

stream_wait_empty is now disabled by default (Issue #117)
  faust/types/settings.py
Due: flake8, mypy
