Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Travis: Adds 3.6.6 to build-matrix
  .travis.yml
Due: none

Travis: Attempt to add back 3.6.0
  .travis.yml
Due: none

Fixes 3.6.0 test failure
  faust/channels.py
Due: flake8, mypy

Channel.send now sends Message, Consumer gives ConsumerMessage
  faust/channels.py
  faust/transport/drivers/aiokafka.py
  faust/types/__init__.py
  faust/types/tuples.py
Due: flake8, mypy

Tests passing on 3.6.0
  faust/channels.py
  faust/types/tuples.py
Due: flake8, mypy

Channel.send should not care about stream_publish_on_commit setting.
  faust/channels.py
  faust/topics.py
Due: flake8, mypy

app.channel() was always created with maxsize=1 (should be stream_buffer_maxsize)
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

[CI] Use 3.7 for building additional checks
  .travis.yml
  tox.ini
Due: none

[Web] Adds support for Flask-like "blueprints"
  faust/app/base.py
  faust/types/app.py
  faust/types/web.py
  faust/web/__init__.py
  faust/web/apps/graph.py
  faust/web/apps/router.py
  faust/web/apps/stats.py
  faust/web/apps/tables.py
  faust/web/blueprints.py
  faust/web/site.py
  faust/web/views.py
Due: flake8, mypy

[web] Pass match_info as additional arguments to HTTP method handlers
  faust/web/apps/router.py
  faust/web/apps/tables.py
  faust/web/views.py
  t/unit/web/test_views.py
Due: flake8, mypy

[web] Actually install static paths added via @blueprint.static
  faust/app/base.py
  faust/web/blueprints.py
  faust/web/site.py
Due: flake8, mypy

[Docs] Adds missing reference for .web.blueprints
  docs/reference/faust.web.blueprints.rst
  docs/reference/index.rst
Due: none

[Web] Remove the Site class completely, as it was unnecessary
  faust/app/base.py
  faust/types/app.py
  faust/types/web.py
  faust/web/__init__.py
  faust/web/base.py
  faust/web/site.py
  faust/web/views.py
  t/unit/web/test_views.py
Due: flake8, mypy

Setup no longer installs the examples package.
  setup.py
Due: flake8

[Web] Adds web.url_for(view_name, **params)
  faust/web/base.py
  faust/web/blueprints.py
  faust/web/site.py
Due: flake8, mypy

[makefile] Fix make requirements
  Makefile
Due: none

app: add optional ssl_context conf for aiokafka
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
Due: flake8, mypy

[web] Address vineets comments
  faust/web/base.py
  faust/web/blueprints.py
Due: flake8, mypy

Add "supported kafka version" to the FAQs
  README.rst
  docs/includes/faq.txt
Due: none

aiokafka: support timestampless messages
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Fixes typecheck
  faust/types/web.py
  faust/web/blueprints.py
Due: flake8, mypy

[Web] Adds exception handling to views.
  faust/web/apps/tables.py
  faust/web/exceptions.py
  faust/web/views.py
  t/unit/web/test_views.py
Due: flake8, mypy

[Web] Adds missing default detail to ServerError exception
  faust/web/exceptions.py
Due: flake8, mypy

Record: Now supports `decimals` option to convert string decimals back to Decimal
  faust/models/base.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Docs syntax fix
  docs/playbooks/vskafka.rst
  docs/userguide/agents.rst
  docs/userguide/application.rst
  docs/userguide/models.rst
  docs/userguide/streams.rst
Due: none

Unused import and other import fixs
  docs/playbooks/cheatsheet.rst
  docs/playbooks/vskafka.rst
  docs/userguide/agents.rst
  faust/serializers/codecs.py
Due: flake8, mypy

Syntax and indent fix
  docs/userguide/agents.rst
  docs/userguide/application.rst
  docs/userguide/tables.rst
  docs/userguide/tasks.rst
  docs/userguide/testing.rst
  faust/models/base.py
  faust/streams.py
Due: flake8, mypy

[sensor] add datadog monitor
  faust/sensors/datadog.py
Due: flake8, mypy

[App] Property .http_client is now read-write
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

[Record] Adds support for field named "type" (error was also very cryptic)
  faust/models/record.py
Due: flake8, mypy

[App .producer_only allows app without agents
  faust/app/service.py
Due: flake8, mypy

Adds Mike Eloranta to AUTHORS
  AUTHORS.rst
Due: none

flakes
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Adds missing API reference for faust.web.exceptions
  docs/reference/faust.web.exceptions.rst
  docs/reference/index.rst
Due: none

Tests passing
  t/unit/app/test_service.py
Due: flake8

Now depends on mode 1.16.0
  requirements/default.txt
Due: none

Small changes to #160
  faust/sensors/datadog.py
Due: flake8, mypy

Adds datadog to API reference (Issue #160)
  docs/reference/faust.sensors.datadog.rst
  docs/reference/index.rst
Due: none

Adds datadog as extension requirement (Issue #160)
  README.rst
  docs/includes/installation.txt
  docs/introduction.rst
  docs/userguide/sensors.rst
  requirements/extras/datadog.txt
  requirements/test.txt
  setup.py
Due: flake8
