Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Tabletest: Make sure we do not skip events
  examples/tabletest.py
Due: flake8

Settings: Reset broker_heartbeat_interval to 3.0
  faust/types/settings.py
Due: flake8, mypy

App: Add log message when flushing producer at stop
  faust/app/base.py
Due: flake8, mypy

Rebalances: Fixes table consistency errors after rebalance
  examples/tabletest.py
  extra/tools/verify_tabletest_changelog.py
  faust/app/base.py
  faust/stores/base.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on robinhood-aiokafka 0.4.19
  requirements/default.txt
Due: none

Tests passing
  faust/app/base.py
  faust/transport/producer.py
  t/functional/test_app.py
  t/unit/app/test_base.py
  t/unit/stores/test_base.py
  t/unit/stores/test_memory.py
Due: flake8, mypy

Rebalances: Do not skip paused
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on mode 2.0.3
  docs/history/changelog-1.2.rst
  requirements/default.txt
Due: none

Adds signal App.on_before_shutdown
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Updates Changelog for 1.3 (tentative)
  Changelog.rst
  docs/history/changelog-1.2.rst
  docs/history/index.rst
Due: none

Fix typo
  docs/userguide/application.rst
Due: none

Updates changelog
  Changelog.rst
Due: none

Adds extra/tools/benchmark.py
  extra/tools/benchmark.py
Due: flake8

No ServiceProxy at all
  docs/developerguide/overview.rst
  docs/reference/faust.app.service.rst
  docs/reference/index.rst
  examples/advanced/isolated_partitions_crashing.py
  faust/agents/agent.py
  faust/agents/manager.py
  faust/app/base.py
  faust/app/service.py
  faust/cli/base.py
  faust/sensors/monitor.py
  faust/web/base.py
  faust/web/drivers/aiohttp.py
  t/stress/reports/checks.py
  t/stress/tests/forwarder/app.py
  t/stress/tests/tables/app.py
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
  t/unit/app/test_service.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8, mypy

typecheck
  faust/utils/iso8601.py
Due: flake8, mypy

Tests passing
  t/unit/agents/test_agent.py
  t/unit/app/test_base.py
  t/unit/app/test_service.py
  t/unit/sensors/test_monitor.py
Due: flake8

Web: Aiohttp: Fix mistaken warning "bare functions deprecated"
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Web: Ignore warning "inheritance from ClientSession..."
  faust/types/web.py
Due: flake8, mypy

Fixes outdated example text: MonitorService is now Monitor
  docs/userguide/cli.rst
Due: none

Web: No need to subclass ClientSession as its just a type
  faust/types/settings.py
  faust/types/web.py
  t/functional/test_app.py
Due: flake8, mypy

Import ABC from collections.abc to avoid deprecation warning
  faust/stores/base.py
  t/unit/agents/test_actor.py
Due: flake8, mypy

Wording fix for #206
  docs/userguide/tables.rst
Due: none

RocksDB: Allow "." in table names (Fixes #184)
  faust/stores/rocksdb.py
Due: flake8, mypy

Adds setting stream_recovery_delay
  docs/userguide/settings.rst
  faust/tables/recovery.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Changelog: sets release date for 1.3.0
  Changelog.rst
Due: none

Bump version: 1.2.2 → 1.3.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

CI: Adds CPython 3.6.7 to build matrix
  .travis.yml
Due: none

CI: Adds 3.7.1 to build-matrix
  .travis.yml
Due: none

Fixes tests on Python 3.7.1
  t/functional/test_streams.py
Due: flake8

Update comment
  t/functional/test_streams.py
Due: flake8

Revert "Bump version: 1.2.2 → 1.3.0"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fixes typecheck when ciso8601 is installed
  faust/utils/_iso8601_python.py
Due: flake8, mypy

Fixes typo broker_url, store_url -> broker, store
  docs/userguide/application.rst
Due: none

App: Allow broker URL without scheme (defaults to Kafka)
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Updates release date for 1.3.0
  Changelog.rst
Due: none

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
