Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Fixes stream stopping multiple times on Python3.6
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

RocksDB: Avoid blocking the event loop on partitions assigned/revoked
  faust/stores/rocksdb.py
Due: flake8, mypy

Worker: Emit more beautiful logs by converting TP lists to ANSI tables
  faust/worker.py
Due: flake8, mypy

Consumer: yield back to the event loop for every 500 messages consumed
  faust/transport/consumer.py
Due: flake8, mypy

App: Release the event loop more often in on_partitions_assigned (see 56c1fce8d07fe3d222ec4b894d42d0a505ad913a)
  faust/app/base.py
Due: flake8, mypy

Tables: Releaset to the event loop to avoid blocking (see 56c1fce8d07fe3d222ec4b894d42d0a505ad913a)
  faust/tables/manager.py
  faust/tables/recovery.py
Due: flake8, mypy

Consumer: consumer_max_fetch_size default is now 1mb
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

Now depends on mode 4.3.0
  requirements/default.txt
Due: none

Adds Jonathan A. Booth to AUTHORS
  AUTHORS.rst
Due: none

Update stream processing timeout logs to be info level
  faust/streams.py
Due: flake8, mypy

Updates Changelog for 1.10.1
  Changelog.rst
Due: none

Bump version: 1.10.0 → 1.10.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Remove `typing_extensions` import
  faust/models/typing.py
Due: flake8, mypy

feat: support for async operation on schema (dumps_key, dumps_value, loads_key, loads_value)
  faust/channels.py
  faust/serializers/registry.py
  faust/serializers/schemas.py
  faust/tables/base.py
  faust/tables/table.py
  faust/topics.py
  faust/transport/producer.py
  t/conftest.py
  t/functional/test_channels.py
  t/unit/tables/test_base.py
  t/unit/test_topics.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

fix: types fixed. Attachments fixed
  faust/app/_attached.py
  faust/channels.py
  faust/events.py
  faust/serializers/registry.py
  faust/tables/base.py
  faust/topics.py
  faust/transport/consumer.py
  faust/transport/producer.py
  faust/types/channels.py
  faust/types/serializers.py
  faust/types/tables.py
  faust/types/transports.py
  t/unit/test_events.py
  t/unit/test_topics.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

test: custom schema test added.
  faust/channels.py
  t/functional/serializers/test_registry.py
  t/unit/test_topics.py
Due: flake8, mypy

Fixed lint and mypy
  faust/models/typing.py
Due: flake8, mypy

feat(window): Async coroutine supported in windows callback
  faust/tables/base.py
  t/unit/tables/test_base.py
Due: flake8, mypy

CI typecheck fail
  faust/tables/base.py
Due: flake8, mypy

CI typecheck fail revert
  faust/tables/base.py
Due: flake8, mypy

CI typecheck fail fix
  faust/types/tables.py
Due: flake8, mypy

make simple coercion work
  faust/models/fields.py
  faust/models/record.py
Due: flake8, mypy

resolve coverage issue
  faust/models/typing.py
Due: flake8, mypy

fix lint
  faust/models/typing.py
Due: flake8, mypy

Replaces livelock and stream processing timeout with better and more detailed info
  faust/sensors/monitor.py
  faust/streams.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Tiny fix to last commit
  faust/transport/drivers/aiokafka.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Remove docs links to deprecated mailing list
  CONTRIBUTING.rst
  README.rst
  docs/includes/resources.txt
  extra/release/sphinx2rst_config.py
Due: flake8

Update docs wording on Python 2 and 3.5 support
  README.rst
  docs/includes/faq.txt
Due: none

Fix typos in documentation (vs kafka, application, and models pages)
  docs/playbooks/vskafka.rst
  docs/userguide/application.rst
  docs/userguide/models.rst
Due: none

Aiokafka: Consumer: Adds tests for verify_event_path
  faust/transport/drivers/aiokafka.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Now depends on aiokafka 1.1.4
  requirements/default.txt
Due: none

Now depends on mode 4.3.1
  requirements/default.txt
Due: none

Updates Changelog for 1.10.2
  Changelog.rst
Due: none

Bump version: 1.10.1 → 1.10.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Wording
  Changelog.rst
Due: none

99% Coverage
  .coveragerc
  faust/transport/consumer.py
  t/functional/web/test_cache.py
  t/unit/agents/test_manager.py
  t/unit/agents/test_replies.py
  t/unit/cli/test_base.py
  t/unit/livecheck/test_case.py
  t/unit/models/test_fields.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Docs: Fixes doc build warnings
  docs/history/changelog-1.7.rst
  docs/history/changelog-1.8.rst
  docs/userguide/settings.rst
Due: none

Tables: Recovery: Better diagnosis if recovery hangs + better reporting on progress
  faust/tables/recovery.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
Due: flake8, mypy

Logs: Make "setting newly assigned partitions" list easier to read
  faust/worker.py
Due: flake8, mypy

Logs: Consolidate repeated topic names to use ditto mark
  faust/tables/recovery.py
Due: flake8, mypy
