Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

[Table] Raise ConsistencyError if persisted offset is greater than highwater (Fixes Issue #147)
  faust/exceptions.py
  faust/tables/recovery.py
Due: flake8, mypy

[CI] Add Windows to build matrix
  .travis.yml
Due: none

[CI] Removes appveyour support files
  .ci/appveyor.yml
  .ci/install.ps1
  .ci/run_with_compiler.cmd
Due: none

Attempt to fix Windows tests
  t/functional/test_app.py
Due: flake8

[CI] Enable --random-order
  tox.ini
Due: none

Attempt to fix Windows build
  faust/web/cache/backends/memory.py
Due: flake8, mypy

Adds 100% coverage for faust.agents.*
  t/unit/agents/test_agent.py
  t/unit/agents/test_manager.py
  t/unit/agents/test_replies.py
Due: flake8

Can now import BootStrategy from faust.app
  faust/app/__init__.py
Due: flake8, mypy

100% Coverage for faust.app.*
  faust/app/base.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  t/functional/test_app.py
  t/unit/app/test_base.py
  t/unit/app/test_service.py
Due: flake8, mypy

[Docs] Intersphinx https://click.palletsprojects.com/en/latest no longer works
  docs/conf.py
Due: flake8

Now depends on mode 3.0.8
  requirements/default.txt
Due: none

WIP
  faust/transport/conductor.py
Due: flake8, mypy

[App] Only wait for table recovery if tables started
  faust/app/base.py
  t/unit/app/test_service.py
Due: flake8, mypy

Updates Changelog for 1.4.6
  Changelog.rst
Due: none

Bump version: 1.4.5 → 1.4.6
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

WIP
  faust/agents/agent.py
  faust/assignor/partition_assignor.py
  faust/transport/base.py
  faust/transport/consumer.py
  faust/transport/producer.py
  faust/types/transports.py
Due: flake8, mypy

WIP
  faust/agents/agent.py
  faust/assignor/partition_assignor.py
  faust/transport/base.py
  faust/transport/conductor.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/confluent.py
  faust/transport/drivers/memory.py
  faust/transport/producer.py
  faust/types/__init__.py
  faust/types/assignor.py
  faust/types/transports.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

Exactly-once now works with single producer instance for multiple transactional ids (needs robinhood/aiokafka@robinhood3
  faust/assignor/client_assignment.py
  faust/assignor/partition_assignor.py
  faust/tables/recovery.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Exactly-Once: Tests passing
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
  faust/types/transports.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Typecheck passing
  faust/assignor/partition_assignor.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Work with latest flake8
  t/unit/transport/test_consumer.py
Due: flake8

Now depends on robinhood-aiokafka 0.5.2
  requirements/default.txt
Due: none

Fix flaky test
  t/functional/test_streams.py
Due: flake8

Attempt to fix Windows tests
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

Windows stuff
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

[CI] Add stages
  .travis.yml
Due: none

Argh Windows
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

Use max_poll_records in getmany method of AIOKafkaConsumer
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Start transactions for all assigned, not just newly assigned
  faust/transport/consumer.py
Due: flake8, mypy

RocksDB: Removes debugging statement
  faust/stores/rocksdb.py
Due: flake8, mypy

Exactly-once working (tabletest is consistent even when kill nodes using -9)
  faust/tables/base.py
  faust/tables/manager.py
  faust/transport/consumer.py
  faust/types/tables.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Tracing support.
  faust/agents/agent.py
  faust/agents/manager.py
  faust/app/base.py
  faust/tables/manager.py
  faust/transport/conductor.py
  faust/transport/consumer.py
Due: flake8, mypy

Tracing: Adds tracing to TransactionManager
  faust/transport/consumer.py
Due: flake8, mypy

flakes
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Update testing.rst
  docs/userguide/testing.rst
Due: none

Allow for a user defined scheduling strategy that may replace the default one
  faust/app/base.py
  faust/transport/base.py
  faust/transport/consumer.py
  faust/transport/utils.py
  faust/types/transports.py
Due: flake8, mypy
