Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Render README
  README.rst
Due: none

[docs] Proper symlinks for favicon
  artwork/favicon.ico
  docs/images/favicon.ico
Due: none

Add banner to docs
  docs/index.rst
Due: none

Change documentation link in setup.py
  faust/__init__.py
  setup.py
Due: flake8, mypy

Fix links in README
  README.rst
  extra/release/sphinx2rst_config.py
Due: flake8

Updates Changelog for 1.0.27
  Changelog.rst
Due: none

Bump version: 1.0.26 → 1.0.27
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Docs: Github button should be star not watch
  docs/conf.py
Due: flake8

That was not how you set theme options
  docs/conf.py
Due: flake8

Fix docs
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
  docs/contributing.rst
  docs/templates/readme.txt
Due: flake8

fix README
  README.rst
Due: none

Add syntax highlighting to Python code in the Readme
  README.rst
Due: none

Fixes typo in vscelery example. Closes #124
  docs/playbooks/vscelery.rst
Due: none

[docs] fauststream.com -> faust.readthedocs.io
  docs/index.rst
  examples/django/proj/__init__.py
  setup.cfg
Due: flake8

Fixes remaining links to non-working fauststream.com. Closes #126
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
  docs/contributing.rst
  docs/templates/readme.txt
  examples/django/proj/__init__.py
  setup.cfg
Due: flake8

[examples] task_queue example
  examples/task_queue.py
Due: flake8

Remove docker docbuilder now that we have RTD
  Makefile
  docker/docbuilder/Dockerfile
  docker/docbuilder/make_docs.sh
Due: none

flakes
  examples/task_queue.py
Due: flake8

Update task_queue.py
  examples/task_queue.py
Due: flake8

cleanup
  examples/task_queue.py
Due: flake8

examples: Use timer
  examples/task_queue.py
Due: flake8

Update contributing link in readme to point to `en/latest` - http://faust.readthedocs.io/en/master/contributing.html says permission denied for non-logged in viewers
  README.rst
  docs/templates/readme.txt
Due: none

Update Slack notification
  .travis.yml
Due: none

Fix Slack signup link
  README.rst
  docs/includes/resources.txt
Due: none

Table on_changelog_event documentation
  docs/userguide/application.rst
Due: none

[stress][forwarder] Adds check: leader-sending
  t/stress/reports/app.py
  t/stress/tests/forwarder/app.py
Due: flake8

[stress] bump app versions
  t/stress/tests/forwarder/app.py
  t/stress/tests/simple/app.py
  t/stress/tests/tables/app.py
Due: flake8

[monitor] Add monitoring for consumer stats - highwater, current read offset, last committed offset
  faust/sensors/monitor.py
  faust/sensors/statsd.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

highwaters -> end_offsets for readability
  faust/sensors/monitor.py
  faust/sensors/statsd.py
  faust/transport/consumer.py
Due: flake8, mypy

Cleanup and better naming
  faust/sensors/monitor.py
  faust/sensors/statsd.py
  faust/transport/consumer.py
Due: flake8, mypy

Typecheck is passing
  faust/sensors/monitor.py
  faust/transport/consumer.py
Due: flake8, mypy

Added tests
  t/unit/sensors/test_monitor.py
Due: flake8

Add more tests
  t/unit/transport/test_consumer.py
Due: flake8

Fix invite link for Slack group
  README.rst
  docs/includes/resources.txt
Due: none

Adress comments
  faust/sensors/monitor.py
  faust/sensors/statsd.py
Due: flake8, mypy

[stress] Adds error logging to dashboard
  t/stress/app.py
  t/stress/reports/app.py
  t/stress/reports/checks.py
  t/stress/reports/collector.py
  t/stress/reports/logging.py
  t/stress/reports/models.py
  t/stress/reports/templates/dashboard.html
  t/stress/tests/forwarder/app.py
  t/stress/tests/tables/app.py
Due: flake8

[stress] Fixes typo
  t/stress/reports/templates/dashboard.html
Due: none

flakes
  faust/sensors/statsd.py
Due: flake8, mypy

[stress] Fixes typos
  t/stress/reports/collector.py
  t/stress/reports/templates/dashboard.html
Due: flake8

Better topic creation for aiokafka transport
  examples/word_count.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy
