Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Raise error if session_timeout is greater than request_timeout (Closes #259)
  faust/transport/drivers/aiokafka.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

faust[debug] now depends on aiomonitor>=0.4.4
  requirements/extras/aiomonitor.txt
Due: none

Upgrade click requirement to 7.x
  faust/cli/base.py
  faust/cli/params.py
  requirements/default.txt
  t/unit/cli/test_params.py
Due: flake8, mypy

Now compatible with click 7.x
  requirements/default.txt
Due: none

RocksDB: Adds :setting:`table_key_index_size` setting (Closes #372)
  docs/userguide/settings.rst
  faust/stores/rocksdb.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

RocksDB: Reraise original error if rocksdb cannot be imported. Thanks to Sohaib Farooqi
  faust/stores/rocksdb.py
Due: flake8, mypy

RocksDB: Cover edge case that will probably never happen
  docs/userguide/livecheck.rst
  faust/stores/rocksdb.py
Due: flake8, mypy

Tests passing
  t/unit/stores/test_rocksdb.py
Due: flake8

Fixes hang at startup waiting for subscriptions
  examples/withdrawals.py
  faust/app/base.py
  faust/transport/conductor.py
  faust/types/transports.py
  t/unit/app/test_base.py
Due: flake8, mypy

Fixes tests when used with click 7.x
  t/regression/i323/proj323/foo/bar/baz/commands.py
  t/regression/i323/test_autodiscover.py
  t/regression/i324/proj324/foo/bar/baz/commands.py
  t/regression/i324/test_autodiscover.py
Due: flake8

Fix another click 7.x test bug
  faust/cli/params.py
Due: flake8, mypy

Models: Fixes Optional[datetime] for coerce/isodates (Thanks Sanyam!)
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

Fix section header formatting in User Guide
  docs/userguide/application.rst
Due: none

Updates Changelog
  Changelog.rst
Due: none

Adds Tomasz Nguyen to AUTHORS (Issue #349)
  AUTHORS.rst
Due: none

Updates Changelog for #349
  Changelog.rst
Due: none

Docs: Settings: Add tip for adding sensor endpoint manually
  docs/userguide/settings.rst
Due: none

Sets release date for 1.7.1
  Changelog.rst
Due: none

Bump version: 1.7.0 → 1.7.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[docs] Fix hopping window example documentation
  examples/windowing/hopping.py
Due: flake8

Models: Adds FieldDescriptor.exclude to exclude field when serialized
  docs/userguide/models.rst
  faust/models/fields.py
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

Docs: syncronous app signals
  docs/userguide/application.rst
Due: none

Models: Do not attempt to parse datetime when coerce/isodates disabled
  faust/models/fields.py
  t/functional/test_models.py
Due: flake8, mypy

Models: Adds ``date_parser`` option to models.
  docs/userguide/models.rst
  faust/models/base.py
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  requirements/test.txt
  t/functional/test_models.py
Due: flake8, mypy

Updates changelog
  Changelog.rst
Due: none

Updates Changelog for Issue #382
  Changelog.rst
Due: none

Updates Changelog for Issue #381
  Changelog.rst
Due: none

Producer: Eliminate backpressure in send_soon producer buffer (Closes #383)
  faust/transport/conductor.py
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
Due: flake8, mypy

Fixes test
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8

Updates Changelog for Issue #383
  Changelog.rst
Due: none

Sets release-date for 1.7.2
  Changelog.rst
Due: none

Bump version: 1.7.1 → 1.7.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Sets release-date for 1.7.3
  Changelog.rst
Due: none

Cython: cython conductor now waits for producer buffer to ebb
  faust/transport/_cython/conductor.pyx
Due: none

Bump version: 1.7.2 → 1.7.3
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Upgrade to mypy 0.720
  faust/agents/agent.py
  faust/agents/replies.py
  faust/assignor/partition_assignor.py
  faust/livecheck/app.py
  faust/serializers/registry.py
  faust/streams.py
  faust/topics.py
  faust/types/models.py
  faust/types/settings.py
  faust/types/tables.py
  faust/types/topics.py
  faust/worker.py
  requirements/typecheck.txt
Due: flake8, mypy

Fixes docstyle check
  faust/worker.py
Due: flake8, mypy

Implements support for model schemas (Issue #315)
  docs/userguide/models.rst
  faust/__init__.py
  faust/agents/agent.py
  faust/app/_attached.py
  faust/app/base.py
  faust/channels.py
  faust/events.py
  faust/serializers/__init__.py
  faust/serializers/schemas.py
  faust/streams.py
  faust/tables/base.py
  faust/topics.py
  faust/types/__init__.py
  faust/types/agents.py
  faust/types/app.py
  faust/types/channels.py
  faust/types/core.py
  faust/types/events.py
  faust/types/models.py
  faust/types/serializers.py
  faust/types/streams.py
  faust/types/tables.py
  faust/types/topics.py
  t/functional/test_channels.py
  t/unit/agents/test_agent.py
  t/unit/tables/test_base.py
  t/unit/test_events.py
  t/unit/test_topics.py
Due: flake8, mypy

Now works with Sphinx 2.1
  docs/conf.py
  docs/userguide/agents.rst
  docs/userguide/application.rst
  docs/userguide/channels.rst
  docs/userguide/cli.rst
  docs/userguide/debugging.rst
  docs/userguide/models.rst
  docs/userguide/sensors.rst
  docs/userguide/streams.rst
  docs/userguide/tasks.rst
  docs/userguide/testing.rst
  environment.yml
  requirements/docs-plugins.txt
  requirements/docs.txt
Due: flake8

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
