Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

App: can now set App.Settings to modify settings class used
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Fixes tests
  faust/app/base.py
  t/unit/app/test_base.py
Due: flake8, mypy

Fix test on 3.7.0
  faust/cli/base.py
Due: flake8, mypy

setting broker_max_poll_records is optional[int]
  faust/types/settings.py
Due: flake8, mypy

Bump version: 1.4.8 → 1.4.9
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

CI: Try to fix test failing on Win32
  t/integration/conftest.py
Due: flake8

Adds :setting:`topic_allow_declare`
  docs/userguide/settings.rst
  faust/topics.py
  faust/types/settings.py
  t/functional/test_app.py
  t/unit/test_topics.py
Due: flake8, mypy

Channel: Created additional subscribers by mistake (memory leak)
  faust/agents/agent.py
  faust/channels.py
Due: flake8, mypy

Tests passing
  faust/types/settings.py
  t/functional/test_channels.py
  t/unit/agents/test_agent.py
Due: flake8, mypy

Model: Raise error if non-default follows default
  faust/models/record.py
  t/functional/test_models.py
Due: flake8, mypy

CLI: Fixed bug where app created again in discover()
  faust/app/base.py
  faust/cli/base.py
Due: flake8, mypy

Adds extra/tools/verify_tabletest.sh
  examples/tabletest.py
  extra/tools/verify_tabletest.sh
  extra/tools/verify_tabletest_changelog.py
Due: flake8

CLI: Improve banner info
  faust/cli/worker.py
Due: flake8, mypy

New tool to make sure defaults are as documented
  docs/history/changelog-1.1.rst
  docs/userguide/settings.rst
  docs/userguide/tables.rst
  extra/tools/verify_doc_defaults.py
  faust/types/settings.py
  tox.ini
Due: flake8, mypy

Fixes test
  faust/types/settings.py
  t/unit/app/test_base.py
Due: flake8, mypy

Fixes typecheck
  faust/types/settings.py
Due: flake8, mypy

Adds coverage for SlidingWindow
  .coveragerc
  faust/streams.py
  faust/transport/conductor.py
  faust/windows.py
  t/unit/windows/test_sliding_window.py
Due: flake8, mypy

Cython windows is now isinstance(x, WindowT)
  faust/windows.py
Due: flake8, mypy

Only tox should run t/integration (too slow)
  setup.cfg
  tox.ini
Due: none

Models: Accurately test comparison
  faust/models/base.py
  faust/models/record.py
  faust/utils/codegen.py
  t/functional/test_models.py
Due: flake8, mypy

Adds Channel._throw for non-async throw
  faust/channels.py
  faust/types/channels.py
Due: flake8, mypy

Cython windows: Removes print statement
  faust/_cython/windows.pyx
Due: none

Additional agent tests
  faust/agents/__init__.py
  faust/agents/actor.py
  faust/agents/agent.py
  t/functional/agents/test_current_agent.py
  t/unit/agents/test_actor.py
  t/unit/agents/test_agent.py
Due: flake8, mypy

Tests for app.tracer
  faust/__init__.py
  faust/app/base.py
  t/functional/conftest.py
  t/unit/app/test_base.py
  t/unit/conftest.py
Due: flake8, mypy

More coverage
  faust/agents/actor.py
  faust/models/record.py
  faust/streams.py
  faust/tables/table.py
  faust/transport/conductor.py
  t/functional/serializers/test_registry.py
  t/unit/sensors/test_base.py
  t/unit/sensors/test_monitor.py
  t/unit/sensors/test_statsd.py
  t/unit/tables/test_table.py
  t/unit/tables/test_wrappers.py
  t/unit/test_topics.py
  t/unit/test_worker.py
  t/unit/transport/test_conductor.py
  t/unit/transport/test_consumer.py
  t/unit/transport/test_producer.py
  t/unit/utils/terminal/test_spinners.py
  t/unit/utils/terminal/test_tables.py
  t/unit/utils/test_urls.py
  t/unit/web/test_views.py
Due: flake8, mypy

Update .coveragerc
  .coveragerc
Due: none

CI: Add NO_CYTHON=y to non-cython tests
  .travis.yml
Due: none

Now depends on mode 3.0.11
  Changelog.rst
  requirements/default.txt
Due: none

99% Coverage total
  .coveragerc
  faust/app/base.py
  faust/cli/__init__.py
  faust/cli/base.py
  faust/sensors/datadog.py
  faust/stores/rocksdb.py
  faust/streams.py
  faust/transport/conductor.py
  faust/windows.py
  t/conftest.py
  t/functional/test_streams.py
  t/functional/web/test_cache.py
  t/unit/agents/test_replies.py
  t/unit/app/test_router.py
  t/unit/cli/test_base.py
  t/unit/sensors/test_datadog.py
  t/unit/tables/test_base.py
  t/unit/tables/test_manager.py
  t/unit/test_streams.py
  t/unit/transport/test_conductor.py
  t/unit/transport/test_consumer.py
  t/unit/utils/terminal/test_tables.py
  t/unit/utils/test_utils.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

Adds debugging
  t/integration/conftest.py
Due: flake8

t/functional: reset workdir
  t/functional/conftest.py
Due: flake8

Fixes t SyntaxError
  t/integration/conftest.py
Due: flake8

Increase hypothesis deadline
  t/meticulous/assignor/test_copartitioned_assignor.py
Due: flake8

Python 3.6.0 NamedTuple does not support default fields
  t/conftest.py
Due: flake8

Adds support for GSSAPI (need robinhood-aiokafka 1.0.1) (Closes #314)
  .coveragerc
  docs/reference/faust.auth.rst
  docs/reference/index.rst
  faust/__init__.py
  faust/auth.py
  faust/transport/drivers/aiokafka.py
  faust/types/auth.py
  requirements/default.txt
  t/unit/agents/test_replies.py
  t/unit/test_auth.py
Due: flake8, mypy

added ordered client assignment to copartitioned assignor
  docs/userguide/settings.rst
  faust/assignor/copartitioned_assignor.py
  faust/assignor/partition_assignor.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

fixed build pipeline
  docs/userguide/settings.rst
  faust/assignor/copartitioned_assignor.py
  t/functional/test_app.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
