Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Adds dev requirements: requirements/dev.txt
  requirements/dev.txt
  tox.ini
Due: none

Tests passing
  t/unit/transport/test_consumer.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

Remove mode version req, to install git
  requirements/default.txt
Due: none

Now depends on mode 3.0
  requirements/default.txt
Due: none

Removes dev requirements
  requirements/dev.txt
  tox.ini
Due: none

NoReturn does not exist before Python 3.6.3
  faust/tables/wrappers.py
Due: flake8, mypy

Attempt to fix Doc build cache problem
  tox.ini
Due: none

Reduce stream recovery delay to 3.0
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

[Table] Raise error if source topic has mismatching number of partitions. Closes #137
  faust/exceptions.py
  faust/tables/base.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
Due: flake8, mypy

Tests passing
  t/unit/transport/test_consumer.py
Due: flake8

last resort Travis plzzzz
  faust/types/web.py
Due: flake8, mypy

Remove test dependency on pytest-base-url
  requirements/test.txt
  setup.cfg
Due: none

Tests passing
  examples/withdrawals.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Typecheck
  examples/withdrawals.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Fixes RPC example (related to Issue #155)
  faust/agents/agent.py
  faust/agents/models.py
  faust/agents/replies.py
Due: flake8, mypy

[aiokafka] on_partitiojns_* must execute in main thread
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

AgentTestWrapper.put now reraises exceptions (thanks to Sanyam)
  faust/agents/agent.py
Due: flake8, mypy

Tests for AgentTestWrapper.put reraising agent exceptions
  t/docs/testing/test_figB_agent_to_agent.py
Due: flake8

[utils][iso8601] Correctly parse timezones without separator such as -0500
  faust/utils/_iso8601_python.py
  t/unit/utils/test_iso8601.py
Due: flake8, mypy

[rebalance] Optimize away an `await`
  faust/app/base.py
  faust/tables/manager.py
  faust/tables/recovery.py
Due: flake8, mypy

Adds Matthew Stump to AUTHORS
  AUTHORS.rst
Due: none

made max consumer fetch size configurable
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
Due: flake8, mypy

Adds Martin Maillard to AUTHORS
  AUTHORS.rst
Due: none

[Web] Make response_to_bytes/bytes_to_response generic
  faust/web/base.py
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Aiohttp now uses AppRunner to start
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

Aiohttp now uses AppRunner to start
  faust/web/drivers/aiohttp.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8, mypy

Adds Mattias Karlsson to AUTHORS
  AUTHORS.rst
Due: none

flakes
  faust/tables/wrappers.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Fixes consumer thread shutdown hanging when starting with connection error
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[Worker] Spinner at shutdown
  faust/utils/terminal/spinners.py
  faust/worker.py
Due: flake8, mypy

Adds Matthias Wutte to AUTHORS
  AUTHORS.rst
Due: none

wording
  faust/app/base.py
Due: flake8, mypy

Updates Changelog for 1.4.0
  Changelog.rst
  docs/history/changelog-1.3.rst
  docs/history/index.rst
  docs/userguide/tables.rst
Due: none

Tests passing
  t/unit/test_worker.py
  t/unit/utils/terminal/test_spinners.py
Due: flake8

Now depends on Mode 3.0.1
  Changelog.rst
  requirements/default.txt
Due: none

Adds setting producer_request_timeout, now 20 minutes by default
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
  faust/types/settings.py
  faust/types/transports.py
  t/functional/test_app.py
Due: flake8, mypy

[Web] Unit test accidentally started server
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
