Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

tox somehow installs pycodestyle version incompatible with flake8
  requirements/flakes.txt
Due: none

Document stream_publish_on_commit setting
  docs/userguide/settings.rst
Due: none

tests passing
  t/functional/test_app.py
Due: flake8

[examples] Deleted referrals example
  examples/referrals/__init__.py
  examples/referrals/__main__.py
  examples/referrals/device_checks.py
  examples/referrals/models.py
Due: flake8

[contributors] Adding Jaren to contributors
  AUTHORS.rst
Due: none

Fix typo in Jaren's name
  AUTHORS.rst
Due: none

Add Changelog for 1.0.23
  Changelog.rst
Due: none

Bump version: 1.0.22 → 1.0.23
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[stress] [tables] Try going faster
  t/stress/tests/tables/app.py
Due: flake8

wording
  examples/django/README.rst
Due: none

Ooops. venusian
  t/stress/reports/app.py
Due: flake8

Rename descriptions
  t/stress/tests/tables/app.py
Due: flake8

[stress] Proper labels for tests
  t/stress/reports/checks.py
Due: flake8

Now depends on aiokafka 0.4.17
  requirements/default.txt
Due: none

Updates Changelog for version 1.0.24
  Changelog.rst
Due: none

Bump version: 1.0.23 → 1.0.24
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

App.rebalanced should be reset when changelogs finished reading
  faust/tables/manager.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

[stress][tables] Make sure all partitions are progressing
  t/stress/reports/checks.py
  t/stress/tests/tables/app.py
Due: flake8

[stress] Pause for 100 seconds every 30k messages to introduce lag
  t/stress/reports/checks.py
  t/stress/reports/states.py
  t/stress/tests/tables/app.py
Due: flake8

[stress] Support PAUSED state everywhere
  docs/userguide/application.rst
  t/stress/reports/collector.py
  t/stress/reports/states.py
Due: flake8

Fixes typo
  faust/cli/models.py
Due: flake8, mypy

Robinhood Markets -> Robinhood Markets, Inc.
  LICENSE
  artwork/LICENSE
  docs/copyright.rst
  examples/django/proj/__init__.py
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Typo
  Changelog.rst
Due: none

Wording
  README.rst
  docs/includes/intro.txt
Due: none

stream_publish_on_commit accidentally ignored
  faust/app/_attached.py
Due: flake8, mypy

Updates Changelog for 1.0.25
  Changelog.rst
Due: none

Bump version: 1.0.24 → 1.0.25
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

AgentManager now uses ServiceProxy as to not create loop during module scope
  faust/agents/manager.py
  faust/types/agents.py
Due: flake8, mypy

Fixes typecheck
  faust/cli/agents.py
  faust/cli/models.py
Due: flake8, mypy

Tests passing
  t/unit/agents/test_manager.py
Due: flake8

[aiokafka] Remove verbose logging while creating topic
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Adds readthedocs config
  environment.yml
  readthedocs.yml
Due: none

Updates Changelog for 1.0.26
  Changelog.rst
Due: none

Docs: Keep all images
  docs/_dummy_keep_images.rst
Due: none

Removes Python 3.6.0 build
  .travis.yml
Due: none

Bump version: 1.0.25 → 1.0.26
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Include banner image
  docs/_dummy_keep_images.rst
  docs/index.rst
Due: none

[docs] Change favicon and website to readthedocs
  docs/images/drawing.png
  docs/images/favicon.ico
  docs/includes/tags.txt
  docs/index.rst
Due: none

Change banner
  README.rst
  docs/templates/readme.txt
Due: none
