Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Adds coverage
  faust/app/base.py
  faust/tables/globaltable.py
  faust/tables/sets.py
  faust/types/app.py
  t/unit/app/test_base.py
  t/unit/cli/test_base.py
  t/unit/sensors/test_monitor.py
  t/unit/tables/test_base.py
  t/unit/test_streams.py
  t/unit/transport/test_consumer.py
  t/unit/utils/test_codegen.py
Due: flake8, mypy

Adds coverage
  t/functional/test_models.py
Due: flake8

Adds missing case
  t/functional/test_models.py
Due: flake8

Test + document YAML serializer
  docs/includes/installation.txt
  docs/introduction.rst
  requirements/extras/yaml.txt
  requirements/test.txt
  setup.py
  t/unit/serializers/test_codecs.py
Due: flake8

Consumer: Livelock warning is now per TopicPartition
  faust/_cython/streams.pyx
  faust/streams.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/confluent.py
  t/unit/test_streams.py
  t/unit/transport/drivers/test_aiokafka.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

Now depends on mode 4.1.1
  requirements/default.txt
Due: none

Add missing attribute in Cython class
  faust/_cython/streams.pyx
Due: none

Bugfix / Remove gevent
  README.rst
  docs/includes/faq.txt
  docs/includes/installation.txt
  docs/introduction.rst
  docs/spelling_wordlist.txt
  docs/userguide/cli.rst
  examples/django/faustapp/app.py
  faust/cli/base.py
  faust/cli/worker.py
  requirements/extras/gevent.txt
  setup.py
Due: flake8, mypy

Bugfix / Remove Wiki Link
  README.rst
  docs/includes/resources.txt
Due: none

See if aiohttp 3.6 breaks windows build
  requirements/default.txt
Due: none

Check if mode 4.1.1 breaks Windows CI
  requirements/default.txt
Due: none

Revert "See if aiohttp 3.6 breaks windows build"
  requirements/default.txt
Due: none

Revert "Check if mode 4.1.1 breaks Windows CI"
  requirements/default.txt
Due: none

Return the serialized key for issue https://github.com/robinhood/faust/issues/434
  faust/app/router.py
Due: flake8, mypy

[Web] Cache (memory backend): Fixes race condition in .expire() method used in tests.
  faust/web/cache/backends/memory.py
Due: flake8, mypy

Now depends on mode 4.1.2
  requirements/default.txt
Due: none

Fix for acking tombstone messages
  faust/streams.py
Due: flake8, mypy

Removes unused app._on_revoked_timeout
  faust/app/base.py
Due: flake8, mypy

Fix for acking tombstone messages
  t/unit/app/test_router.py
Due: flake8

Fix for app router key serialization
  t/unit/app/test_router.py
Due: flake8

Update README.md
  examples/kubernetes/README.md
Due: none

feat: add a callback to table class called when windows are deleted
  faust/tables/base.py
Due: flake8, mypy

feat: add an example for windowed stream aggregation
  examples/windowed_aggregation.py
Due: flake8

Partition number may be 0
  faust/tables/base.py
Due: flake8, mypy

The producer is able to determine the partition for the table key
  faust/tables/base.py
  t/unit/tables/test_base.py
Due: flake8, mypy

style: fix line breaks and consistent quotes in code
  examples/windowed_aggregation.py
  faust/tables/base.py
Due: flake8, mypy

style: replace double quotes with single quotes and minor improvements
  examples/windowed_aggregation.py
Due: flake8

style: change string formatting to f-strings
  examples/windowed_aggregation.py
Due: flake8

Tracing: Add app id and name as default tags
  faust/app/base.py
  faust/assignor/partition_assignor.py
  faust/tables/recovery.py
  faust/transport/drivers/aiokafka.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Adds Tobias Rauter to AUTHORS.rst
  AUTHORS.rst
Due: none

Upates Changelog for 1.8.1
  Changelog.rst
Due: none

Table: use_partitioner must hash for partition AFTER serialization (Issue #447)
  faust/channels.py
  faust/tables/base.py
  faust/tables/table.py
  faust/topics.py
  faust/types/channels.py
  faust/types/tables.py
  t/unit/tables/test_base.py
  t/unit/test_topics.py
Due: flake8, mypy

Fixes typo
  faust/tables/base.py
Due: flake8, mypy

style: fix trailing zero
  examples/windowed_aggregation.py
Due: flake8

Set release date for 1.8.1
  Changelog.rst
Due: none

Bump version: 1.8.0 → 1.8.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Update README.rst
  README.rst
Due: none

typecheck
  faust/serializers/codecs.py
  faust/types/settings.py
Due: flake8, mypy

Fix OOM error for gaps on topic
  faust/transport/consumer.py
Due: flake8, mypy

Fixed livelock offset not advancing message
  faust/transport/consumer.py
Due: flake8, mypy
