Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

99% coverage for faust.transport.drivers.aiokafka
  faust/transport/drivers/aiokafka.py
  t/unit/test_auth.py
  t/unit/transport/drivers/__init__.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Fixes typecheck
  faust/auth.py
Due: flake8, mypy

Docs: Fixes typo in signal use (Closes Issue #306
  docs/userguide/application.rst
Due: none

Tests: reset environment variables
  t/functional/conftest.py
  t/integration/conftest.py
  t/unit/conftest.py
Due: flake8

fixed pep8 and typo
  faust/assignor/copartitioned_assignor.py
  faust/types/settings.py
Due: flake8, mypy

Tests: Remove bad side effects
  t/functional/test_streams.py
  t/functional/web/conftest.py
  t/functional/web/test_tables.py
  t/unit/cli/test_base.py
Due: flake8

Tests: Raise error if test sets environ/starts threads and tasks that it does not cleanup
  t/conftest.py
Due: flake8

Now depends on mode 3.0.12
  Changelog.rst
  requirements/default.txt
Due: none

Updates Changelog
  Changelog.rst
Due: none

Enable flake8-quotes
  examples/django/proj/wsgi.py
  examples/django/setup.py
  examples/kubernetes/consumer/consumer.py
  examples/windowing/hopping.py
  examples/windowing/tumbling.py
  examples/withdrawals.py
  faust/assignor/client_assignment.py
  faust/assignor/copartitioned_assignor.py
  faust/assignor/partition_assignor.py
  faust/fixups/django.py
  faust/models/record.py
  faust/sensors/datadog.py
  faust/tables/base.py
  faust/tables/recovery.py
  faust/windows.py
  requirements/flakes.txt
  setup.cfg
  t/consistency/consistency_checker.py
  t/functional/test_models.py
  t/functional/web/test_views.py
  t/unit/sensors/test_monitor.py
  t/unit/stores/test_rocksdb.py
Due: flake8, mypy

Use flake8-logging-format
  faust/assignor/partition_assignor.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/web/cache/backends/base.py
  requirements/flakes.txt
  setup.cfg
  t/stress/killer.py
Due: flake8, mypy

Use flake8-pep3101
  examples/advanced/service.py
  examples/django/accounts/agents.py
  examples/tableofset.py
  faust/utils/_iso8601_python.py
  requirements/flakes.txt
  t/bench/base.py
  t/functional/agents/helpers.py
  t/integration/conftest.py
  t/stress/reports/checks.py
  t/unit/windows/test_hopping_window.py
  t/unit/windows/test_sliding_window.py
Due: flake8, mypy

Tests: Check for pending tasks only;
  t/conftest.py
Due: flake8

Adds pyup.yml
  .pyup.yml
Due: none

Now depends on mode 3.0.13
  Changelog.rst
  requirements/default.txt
Due: none

Renable disabled test
  t/unit/windows/test_hopping_window.py
Due: flake8

[CI] Adds pydocstyle to build process
  .travis.yml
  faust/events.py
  faust/tables/recovery.py
  faust/types/router.py
  faust/types/windows.py
  faust/web/cache/backends/redis.py
  requirements/dist.txt
  tox.ini
Due: flake8, mypy

Make all typing-only imports private
  docs/contributing.rst
  faust/agents/agent.py
  faust/app/_attached.py
  faust/app/base.py
  faust/channels.py
  faust/cli/base.py
  faust/events.py
  faust/fixups/__init__.py
  faust/fixups/base.py
  faust/fixups/django.py
  faust/tables/recovery.py
  faust/tables/wrappers.py
  faust/transport/base.py
  faust/transport/conductor.py
  faust/transport/consumer.py
  faust/types/agents.py
  faust/types/app.py
  faust/types/assignor.py
  faust/types/channels.py
  faust/types/core.py
  faust/types/events.py
  faust/types/fixups.py
  faust/types/router.py
  faust/types/sensors.py
  faust/types/serializers.py
  faust/types/settings.py
  faust/types/stores.py
  faust/types/streams.py
  faust/types/tables.py
  faust/types/topics.py
  faust/types/transports.py
  faust/types/tuples.py
  faust/types/web.py
  faust/web/blueprints.py
Due: flake8, mypy

Forgot to update TODO after exactly-once merge.
  TODO.rst
Due: none

Fixes typo in tox.ini
  tox.ini
Due: none

[CI] Adds bandit lint step
  .travis.yml
  extra/bandit/baseline.json
  extra/bandit/config.yaml
  tox.ini
Due: none

Fixes Cython compile warning
  faust/_cython/streams.pyx
  faust/_cython/windows.pyx
  faust/transport/_cython/conductor.pyx
Due: none

Silences warning in test
  t/unit/app/test_base.py
Due: flake8

Silences warning in datadog import
  t/unit/sensors/test_datadog.py
Due: flake8

Merge changelog from 1.4 branch
  docs/history/changelog-1.4.rst
Due: none

datadog tests: only catch warning on Python < 3.7
  t/unit/sensors/test_datadog.py
Due: flake8

add SASL_SSL security protocol in credentials
  faust/auth.py
  faust/transport/drivers/aiokafka.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Cleanup bundles
  docs/introduction.rst
  requirements/extras/aiodns.txt
  requirements/extras/aiomonitor.txt
  requirements/extras/cchardet.txt
  requirements/extras/ciso8601.txt
  requirements/extras/cython.txt
  requirements/extras/debug.txt
  requirements/extras/fast.txt
  setup.py
Due: flake8

Now depends on mode 3.1
  Changelog.rst
  docs/_ext/faustdocs.py
  docs/_ext/typehints.py
  faust/app/base.py
  faust/assignor/copartitioned_assignor.py
  faust/cli/base.py
  faust/sensors/monitor.py
  faust/streams.py
  faust/tables/recovery.py
  faust/tables/wrappers.py
  faust/transport/drivers/memory.py
  faust/types/app.py
  faust/types/events.py
  faust/web/cache/backends/base.py
  requirements/default.txt
  t/unit/sensors/test_datadog.py
Due: flake8, mypy

fix typecheck
  faust/auth.py
Due: flake8, mypy

t/meticulous: increase hypothesis deadline to 4000
  t/meticulous/assignor/test_copartitioned_assignor.py
Due: flake8

unassign all to avoid sticky assignment when using ordered assignment
  faust/assignor/copartitioned_assignor.py
Due: flake8, mypy

100% coverage for Issue #317
  t/unit/test_auth.py
Due: flake8

Adds Julien Surloppe to AUTHORS (Issue #317)
  AUTHORS.rst
Due: none

Updates Changelog for #317
  Changelog.rst
Due: none

Updates configuration reference for #317
  docs/userguide/settings.rst
Due: none

Fixes typo in docs
  docs/userguide/settings.rst
Due: none

Compatibility with protocol 3
  faust/assignor/client_assignment.py
Due: flake8, mypy
