Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Bump version: 1.8.1 → 1.9.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Changelog now mentions aiokafka fixes
  Changelog.rst
Due: none

Chore / Dependency Updates
  requirements/extras/ckafka.txt
  requirements/extras/statsd.txt
  requirements/test.txt
Due: none

aiokafka: Raise exception if topic name is greater than 249 chars.
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

aiokafka: Fixes crash in on_span_cancelled_early when tracing disabled
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Added ability to iterate through all keys in a global table
  faust/stores/rocksdb.py
  faust/tables/__init__.py
Due: flake8, mypy

Added is_global field
  faust/app/base.py
  faust/stores/rocksdb.py
  faust/tables/base.py
Due: flake8, mypy

Updated test__dbs_for_actives test
  t/unit/stores/test_rocksdb.py
Due: flake8

flake fix
  faust/stores/rocksdb.py
Due: flake8, mypy

Update slack link canonical location (Issue #457)
  docs/includes/resources.txt
Due: none

agent: use_reply_headers is now enabled by default (Issue #469)
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Fix build after new flake8 codes added
  faust/transport/consumer.py
  faust/utils/terminal/tables.py
  faust/worker.py
  t/functional/agents/helpers.py
  t/unit/tables/test_wrappers.py
  t/unit/transport/test_conductor.py
Due: flake8, mypy

Fixes tests after use_reply_headers is default
  t/unit/agents/test_agent.py
Due: flake8

Fixed Global Tables
  faust/assignor/partition_assignor.py
  faust/tables/recovery.py
Due: flake8, mypy

Addressed comments and flake
  faust/assignor/partition_assignor.py
Due: flake8, mypy

enable "use_partitioner" support for Tables with SerializedStore:
  faust/stores/base.py
  faust/stores/rocksdb.py
  faust/tables/base.py
  faust/tables/table.py
  t/unit/stores/test_base.py
  t/unit/stores/test_rocksdb.py
Due: flake8, mypy

Adds new setting broker_rebalancing_timeout
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

fixed type definitions
  faust/tables/base.py
Due: flake8, mypy

Adds Personal/Sensitive/Secret tags to model fields
  faust/exceptions.py
  faust/models/fields.py
  faust/models/record.py
  faust/models/tags.py
  faust/types/models.py
  t/functional/test_models.py
  t/unit/models/test_tags.py
Due: flake8, mypy

Adds BooleanField (thanks to John Heinnickel)
  faust/models/fields.py
Due: flake8, mypy

Rename setting broker_rebalancing_timeout -> broker_rebalance_timeout
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Typing improvements
  faust/app/base.py
  faust/models/tags.py
  faust/streams.py
  faust/types/agents.py
  faust/types/app.py
  faust/types/channels.py
Due: flake8, mypy

hardcoding min latency
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

upping the min bytes
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

tweaking
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Disallow Dict Operations on Windowset
  faust/tables/wrappers.py
Due: flake8, mypy

Add type annotation to windowset helper
  faust/tables/wrappers.py
Due: flake8, mypy

Fix misc docs typos
  docs/includes/intro.txt
  docs/introduction.rst
  docs/playbooks/cheatsheet.rst
  docs/playbooks/leaderelection.rst
  docs/playbooks/quickstart.rst
  docs/playbooks/vscelery.rst
Due: none

Typecheck now depends on mypy 0.750
  requirements/typecheck.txt
Due: none

Docs: Adds api reference for .models.tags
  docs/reference/faust.models.tags.rst
  docs/reference/index.rst
Due: none

Fixes docstyle for Stream.flush
  faust/streams.py
Due: flake8, mypy

typecheck: Enable disallow_subclassing_any
  faust/agents/agent.py
  faust/assignor/partition_assignor.py
  faust/cli/base.py
  faust/transport/drivers/aiokafka.py
  faust/utils/kafka/protocol/api.py
  faust/web/base.py
  faust/windows.py
  setup.cfg
Due: flake8, mypy

Fixes typecheck
  faust/livecheck/patches/aiohttp.py
Due: flake8, mypy

reqs: typecheck now depends on mode
  requirements/default.txt
  requirements/deps/mode.txt
  requirements/typecheck.txt
Due: none
