Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Properly implement BootStrategy attributes
  faust/app/base.py
  faust/types/app.py
Due: flake8, mypy

Agent: Allow streams with no current event to yield. Closes #237
  faust/agents/agent.py
Due: flake8, mypy

mode.utils is actually aenumerate
  docs/userguide/streams.rst
Due: none

Updates Changelog
  Changelog.rst
Due: none

Allow for easy BootStrategy subclass
  faust/app/base.py
  faust/types/app.py
  t/unit/app/test_service.py
Due: flake8, mypy

Changelog: Fixed broken hyperlink target
  Changelog.rst
  examples/withdrawals.py
Due: flake8

Make discover(ignore=...) work correctly
  faust/app/base.py
  t/unit/app/test_base.py
Due: flake8, mypy

Now depends on mode 3.0.4
  requirements/default.txt
Due: none

yarl 1.3 broke with bool(URL("foo://")) returning False
  faust/types/settings.py
Due: flake8, mypy

Updates release date for 1.4.2
  Changelog.rst
Due: none

Bump version: 1.4.1 → 1.4.2
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Now depends on mode 3.0.5
  Changelog.rst
  requirements/default.txt
Due: none

Revert "Bump version: 1.4.1 → 1.4.2"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[Web] New setting `web_in_thread` controls separate thread for web server
  docs/userguide/settings.rst
  faust/types/settings.py
  faust/web/drivers/aiohttp.py
  t/functional/test_app.py
Due: flake8, mypy

[Web] web_in_thread is now False by default
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Convert WindowRange to tuple to make sure no hash mistakes + perf
  faust/types/windows.py
  faust/windows.py
  t/unit/windows/test_hopping_window.py
  t/unit/windows/test_tumbling_window.py
  t/unit/windows/test_window_range.py
Due: flake8, mypy

Tests passing
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

Table: Fixes KeyError crash for already removed key
  faust/tables/base.py
Due: flake8, mypy

Fixes configcheck
  docs/userguide/settings.rst
Due: none

Adds logging_config
  docs/userguide/settings.rst
  faust/types/settings.py
  faust/worker.py
  t/functional/test_app.py
Due: flake8, mypy

Fixes missing conversion from WindowRange to tuple
  faust/tables/base.py
Due: flake8, mypy

Fixing the django sample
  examples/django/README.rst
  examples/django/accounts/agents.py
  examples/django/accounts/migrations/0001_initial.py
  examples/django/faustapp/__init__.py
  examples/django/faustapp/app.py
  examples/django/requirements/default.txt
  examples/django/setup.py
Due: flake8

fix on_partitions_revoked docs
  docs/userguide/application.rst
Due: none

Update copyright year to include 2019
  LICENSE
  artwork/LICENSE
  docs/conf.py
  docs/copyright.rst
  examples/django/proj/__init__.py
  faust/__init__.py
Due: flake8, mypy

Updated minimum version of test dependency on pytest to 3.6.
  requirements/test.txt
Due: none

Stream: remove processor in take if generator body throws an exception to prevent deadlocks Fixes #262
  faust/streams.py
Due: flake8, mypy

Experimenting with confluent-kafka-python
  examples/withdrawals.py
  examples/word_count.py
  faust/transport/drivers/__init__.py
  faust/transport/drivers/confluent.py
Due: flake8, mypy

Updates Changelog.rst
  Changelog.rst
Due: none

Adds Thibault Serot to AUTHORS
  AUTHORS.rst
Due: none

[reqs][typecheck] Now depends on mypy 0.650
  requirements/typecheck.txt
Due: none

[agent][isolated_partitions] Fixes crash when worker assigned no partitions (Issue #181)
  faust/transport/conductor.py
Due: flake8, mypy

Will now change "enable_acks" to False while using "take" method for a stream to avoid acking events that are not finished yet to be processed. In addition, added functional test for "take" method.
  faust/streams.py
  t/functional/test_streams.py
Due: flake8, mypy

Add option for auto offset reset
  docs/userguide/settings.rst
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Formatting fixes
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

Confluent driver working, but not complete
  examples/withdrawals.py
  faust/transport/drivers/confluent.py
Due: flake8, mypy

fix(vscelery.rst): fix missing parentheses of 'command' decorator
  docs/playbooks/vscelery.rst
Due: none

[Transport] Refactor Consumer to share code
  examples/withdrawals.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/confluent.py
  faust/transport/drivers/memory.py
  faust/transport/utils.py
Due: flake8, mypy

Removes unused attribute App._assignor
  faust/app/base.py
Due: flake8, mypy

Removes import of rhkafka in faust/worker
  faust/worker.py
Due: flake8, mypy
