Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      files: .*\.py$
      python_version: python3.6
    - id: mypy
      name: mypy
      entry: mypy --allow-subclassing-any --no-warn-return-any
      language: system
      files: ^faust.+?\.py$

Huh
  .pre-commit-config.yaml
Due: none

Fixes documentation build
  docs/includes/intro.txt
  docs/reference/faust.cli.completion.rst
  docs/reference/index.rst
  docs/userguide/streams.rst
  faust/sensors/monitor.py
  faust/types/models.py
  setup.cfg
Due: flake8, mypy

Now depends on mode 1.13.0
  requirements/default.txt
Due: none

Updates Changelog (tentatively)
  Changelog.rst
Due: none

Doubles heartbeat and session timeout (and adds settings for them)
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Cosmetics
  faust/app/base.py
Due: flake8, mypy

Fixes web sites
  faust/web/site.py
Due: flake8, mypy

Adds more info to on_partitions_revoked flight recorder
  faust/app/base.py
  faust/tables/manager.py
Due: flake8, mypy

Removes debugging print statement
  faust/web/site.py
Due: flake8, mypy

App: Remove need for partitions_lock
  faust/app/base.py
  faust/tables/changelogs.py
  faust/tables/manager.py
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
Due: flake8, mypy

Fetcher must be stopped before tables.on_partitions_revoked
  faust/app/base.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on robinhood-aiokafka
  requirements/default.txt
Due: none

Fixes 60 second hanging out shutdown
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Aiokafka consumer should wait_empty on stop
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Now depends on robinhood-aioafka 0.4.9
  requirements/default.txt
Due: none

Updates Changelog for 1.0.11
  Changelog.rst
Due: none

Bump version: 1.0.10 → 1.0.11
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Revert "Allow tables to use __set_name__ to set the name"
  faust/app/base.py
  faust/tables/base.py
  faust/types/app.py
Due: flake8, mypy

flakes
  faust/agents/manager.py
  t/unit/agents/test_actor.py
  t/unit/agents/test_agent.py
  t/unit/agents/test_manager.py
  t/unit/app/test_base.py
  t/unit/app/test_service.py
Due: flake8, mypy

Now depends on mode 1.14.0
  requirements/default.txt
Due: none

Consumer: commit cannot hang if producer crashes (Closes #107)
  faust/app/_attached.py
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
Due: flake8, mypy

Tests passing
  t/unit/transport/test_consumer.py
Due: flake8

Fixes typecheck
  faust/app/router.py
  faust/stores/rocksdb.py
  faust/tables/base.py
  faust/transport/drivers/aiokafka.py
  faust/types/assignor.py
  faust/types/router.py
  faust/types/settings.py
Due: flake8, mypy

Solution for #73?
  faust/transport/drivers/aiokafka.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Now depends on mode 1.14.1
  requirements/default.txt
Due: none

Tests passing
  t/functional/test_app.py
Due: flake8

Updates changelog for 1.0.12
  Changelog.rst
Due: none

Bump version: 1.0.11 → 1.0.12
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Cleanup examples
  examples/advanced/isolated_partitions_crashing.py
  examples/advanced/rpc.py
  examples/advanced/service.py
  examples/bench.py
  examples/order_system/__init__.py
  examples/order_system/app.py
  examples/order_system/orders.py
  examples/order_system/products.py
  examples/order_system/users.py
  examples/raising.py
Due: flake8

Removes logformat argument to Worker
  faust/worker.py
Due: flake8, mypy

StatsMonitor prematurely initializes loop.
  faust/sensors/monitor.py
Due: flake8, mypy

Fetcher: Stopping fetcher now waits for background thread to be stopped.
  faust/transport/consumer.py
Due: flake8, mypy

App: clear queues before calling tables.on_partitions_revoked
  faust/app/base.py
Due: flake8, mypy

[Web][aiohttp] Ensure on_stop does not hang if started/stopped in quick succession
  faust/web/drivers/aiohttp.py
Due: flake8, mypy

[TableManager] Should stop fetcher on_stop
  faust/tables/manager.py
Due: flake8, mypy

[App] Fetcher now required at boot, and is now started by TableManager
  faust/app/service.py
Due: flake8, mypy

[examples][advanced] isolated_partitions_crashing now prints progress every five seconds
  examples/advanced/isolated_partitions_crashing.py
Due: flake8
