Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Rename Changelog -> Changelog.rst
  Changelog.rst
Due: none

Fix changelog title
  Changelog.rst
Due: none

Make skeleton changelog
  Changelog.rst
Due: none

Document new sensor features
  docs/userguide/sensors.rst
  faust/sensors/monitor.py
Due: flake8, mypy

Import 1.5 changelog into history
  docs/history/changelog-1.5.rst
  docs/history/index.rst
Due: none

New topic_disable_leader setting disables the leader topic
  docs/userguide/settings.rst
  faust/assignor/leader_assignor.py
  faust/types/settings.py
  t/functional/test_app.py
Due: flake8, mypy

Tidy up model documentation and resolve #327
  docs/userguide/models.rst
  docs/userguide/settings.rst
  faust/agents/models.py
  faust/models/base.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Table: Key index: inherit configuration from source table (Closes #325)
  faust/tables/base.py
  faust/tables/wrappers.py
Due: flake8, mypy

Cython: Fixes issue with sensor state not being passed to after
  faust/streams.py
Due: flake8, mypy

Agent: Test: Fixes CancelledError (Closes #322)
  faust/agents/agent.py
Due: flake8, mypy

Exactly once: Support producing to non-transactional topics (Closes #339)
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/types/transports.py
Due: flake8, mypy

Tests passing
  faust/tables/base.py
  t/unit/tables/test_base.py
Due: flake8, mypy

Oops :blush:
  faust/tables/wrappers.py
Due: flake8, mypy

Removes defunct memory transport (Closes #295)
  docs/reference/faust.transport.drivers.memory.rst
  docs/reference/index.rst
  extra/bandit/baseline.json
  faust/transport/drivers/__init__.py
  faust/transport/drivers/memory.py
Due: flake8, mypy

Docs: Tidy up agent user guide
  docs/userguide/agents.rst
Due: none

Docs: Application: Updates note about using multiple apps in the same worker
  docs/userguide/application.rst
Due: none

Documentation improvements
  docs/userguide/application.rst
  docs/userguide/sensors.rst
Due: none

Documentation improvements
  docs/userguide/workers.rst
Due: none

RocksDB: Move write operations to separate thread (fixes timers waking up late)
  faust/stores/rocksdb.py
Due: flake8, mypy

Fix list of strings for broker param in url
  faust/utils/urls.py
  t/unit/utils/test_urls.py
Due: flake8, mypy

Document table serialization
  docs/userguide/tables.rst
Due: none

Update aiohttp requirement
  requirements/default.txt
Due: none

Adds new broker_consumer and broker_producer settings
  faust/app/base.py
  faust/types/app.py
  faust/types/settings.py
  t/functional/test_app.py
  t/unit/app/test_base.py
Due: flake8, mypy

Adds missing test case for TransactionManager.send when no transaction active for topic
  t/unit/transport/test_consumer.py
Due: flake8

Adds missing coverage for aiokafka tracing
  t/unit/stores/test_rocksdb.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8

Adds topic.send_soon() non-async method to buffer message
  examples/tabletest.py
  extra/tools/verify_ascending.py
  faust/app/base.py
  faust/channels.py
  faust/tables/base.py
  faust/topics.py
  faust/transport/drivers/aiokafka.py
  faust/transport/producer.py
  faust/types/channels.py
  t/functional/test_channels.py
  t/unit/tables/test_base.py
  t/unit/test_topics.py
  t/unit/transport/test_producer.py
Due: flake8, mypy

Revert rocksdb test change
  t/unit/stores/test_rocksdb.py
Due: flake8

Revert "RocksDB: Move write operations to separate thread (fixes timers waking up late)"
  faust/stores/rocksdb.py
Due: flake8, mypy

Docs: Settings: Document broker_consumer & broker_producer
  docs/userguide/settings.rst
Due: none

Fixes pydocstyle
  faust/channels.py
  faust/topics.py
Due: flake8, mypy

Adds Nimish Telang to AUTHORS
  AUTHORS.rst
Due: none

Updates changelog for issue #330
  Changelog.rst
Due: none

Fixes configcheck
  extra/tools/verify_doc_defaults.py
Due: flake8

Json serializer can now handle collections.deque
  faust/utils/json.py
Due: flake8, mypy

Updates Changelog for 1.6.1
  Changelog.rst
Due: none

Bump version: 1.6.0 → 1.6.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Render README.rst
  README.rst
Due: none

Now depends on mode 4.0.0
  requirements/default.txt
Due: none

Tentative changelog for 1.7
  Changelog.rst
Due: none

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
