Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

Updates Changelog
  Changelog.rst
Due: none

Fixes typecheck
  faust/assignor/client_assignment.py
Due: flake8, mypy

Web: Adds support for CORS headers
  Changelog.rst
  docs/userguide/settings.rst
  faust/app/base.py
  faust/types/app.py
  faust/types/settings.py
  faust/types/web.py
  faust/web/__init__.py
  faust/web/base.py
  faust/web/blueprints.py
  faust/web/drivers/aiohttp.py
  requirements/default.txt
  t/functional/test_app.py
  t/unit/app/test_base.py
  t/unit/web/drivers/test_aiohttp.py
Due: flake8, mypy

setup.py: changed error to say Python, not CPython
  setup.py
Due: flake8

NamedTuple does not support default fields on Python 3.6.0;
  t/functional/test_app.py
Due: flake8

Another namedtuple on Python 3.6.0
  t/unit/app/test_base.py
Due: flake8

Assignor: Adds tracing of coordinator assignment
  faust/assignor/partition_assignor.py
Due: flake8, mypy

Yet another namedtuple on Python 3.6.0
  t/unit/web/drivers/test_aiohttp.py
Due: flake8

Sets release date for 1.5.0
  Changelog.rst
Due: none

Bump version: 1.5.0b1 → 1.5.0
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Fixes documentation build on Python3.6
  faust/utils/tracing.py
Due: flake8, mypy

Revert "Bump version: 1.5.0b1 → 1.5.0"
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

setup.py: NO_CYTHON now works with setup
  setup.py
Due: flake8

app.timer: Use a generator to prevent timer drift
  faust/app/base.py
Due: flake8, mypy

Fixed partition_assignor.py to not use a nullcontext span
  faust/assignor/partition_assignor.py
  tox.ini
Due: flake8, mypy

Add type hint for get_next_interval()
  faust/app/base.py
Due: flake8, mypy

Need to perform assignment within trace (#321)
  faust/assignor/partition_assignor.py
Due: flake8, mypy

Adds Bob Haddleton to AUTHORS (Issue #321)
  AUTHORS.rst
Due: none

Updates Changelog for 1.5.1
  Changelog.rst
Due: none

Try to fix cython build
  setup.py
Due: flake8

Bump version: 1.5.0 → 1.5.1
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

[docs][settings] Fixes typo in web_cors_options example
  docs/userguide/settings.rst
Due: none

WIP
  faust/streams.py
  faust/transport/drivers/aiokafka.py
  t/functional/helpers.py
  t/helpers.py
  t/unit/test_streams.py
  t/unit/transport/drivers/test_aiokafka.py
Due: flake8, mypy

Deprecate stream_ack_exceptions and stream_ack_cancelled_tasks settings as they have no effect
  docs/userguide/settings.rst
  faust/streams.py
  faust/types/settings.py
  t/functional/helpers.py
  t/functional/test_app.py
  t/functional/test_streams.py
  t/unit/test_streams.py
Due: flake8, mypy

Debug test hanging
  t/functional/test_streams.py
Due: flake8

Adds pytest-picked to requirements/test.txt
  requirements/test.txt
Due: none

Sensor: Monitor: Record assignment latency + assignments completed/failed
  faust/assignor/partition_assignor.py
  faust/sensors/base.py
  faust/sensors/datadog.py
  faust/sensors/monitor.py
  faust/sensors/statsd.py
  faust/types/sensors.py
  t/unit/sensors/test_base.py
  t/unit/sensors/test_datadog.py
  t/unit/sensors/test_monitor.py
  t/unit/sensors/test_statsd.py
Due: flake8, mypy

Sensors: Monitor: 100% coverage
  t/unit/sensors/test_monitor.py
Due: flake8

Docs: Agent: Agents with sinks must yield
  docs/userguide/agents.rst
Due: none

Livecheck API draft
  examples/livecheck.py
  faust/livecheck.py
Due: flake8, mypy

WIP
  examples/livecheck.py
  faust/livecheck.py
Due: flake8, mypy

Fixes autodiscovery problem (Closes #323)
  faust/app/base.py
  t/regression/__init__.py
  t/regression/i323/__init__.py
  t/regression/i323/proj/__init__.py
  t/regression/i323/proj/faust.py
  t/regression/i323/proj/foo/__init__.py
  t/regression/i323/proj/foo/bar/__init__.py
  t/regression/i323/proj/foo/bar/baz/__init__.py
  t/regression/i323/proj/foo/bar/baz/commands.py
  t/regression/i323/test_autodiscover.py
Due: flake8, mypy

Autodiscover should not import __main__ (Closes #324)
  faust/app/base.py
  t/regression/i324/__init__.py
  t/regression/i324/proj/__init__.py
  t/regression/i324/proj/__main__.py
  t/regression/i324/proj/faust.py
  t/regression/i324/proj/foo/__init__.py
  t/regression/i324/proj/foo/bar/__init__.py
  t/regression/i324/proj/foo/bar/baz/__init__.py
  t/regression/i324/proj/foo/bar/baz/commands.py
  t/regression/i324/proj/foo/test_x.py
  t/regression/i324/test_autodiscover.py
Due: flake8, mypy

CI: Tox: Now runs t/regression tests
  tox.ini
Due: none

Fixes faust command line help description
  faust/cli/base.py
Due: flake8, mypy

Agent: Fixes error at agent shutdown
  faust/agents/manager.py
Due: flake8, mypy

Now depends on mode 3.1.1
  requirements/default.txt
Due: none

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
