Repository robinhood/faust: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: system
  python_version: python3.6

mypy:
  name: mypy
  entry: mypy --allow-subclassing-any --no-warn-return-any
  language: system

MINOR: fix bug of example in doc
  docs/introduction.rst
Due: none

Delete blank line to pass ci
  docs/introduction.rst
Due: none

Fixes tests
  t/unit/app/test_base.py
  t/unit/sensors/test_datadog.py
Due: flake8

CI: Windows should be on 3.7.2
  .travis.yml
Due: none

Fix docs/userguide/streams.rst mistype
  docs/userguide/streams.rst
Due: none

Validation WIP
  docs/userguide/models.rst
  faust/types/models.py
Due: flake8, mypy

Model validation WIP #2
  faust/models/base.py
Due: flake8, mypy

Model: Can now specify attr as a field descriptor
  faust/models/base.py
  faust/models/record.py
Due: flake8, mypy

Model Validation WIP #3
  docs/reference/faust.models.fields.rst
  docs/reference/index.rst
  faust/exceptions.py
  faust/models/__init__.py
  faust/models/base.py
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Model Validation WIP #4 (please rebase)
  docs/userguide/models.rst
  faust/exceptions.py
  faust/models/base.py
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Sensor: Missing state means sensor disabled, so do not warn (Closes Issue #351)
  faust/sensors/monitor.py
  t/unit/sensors/test_monitor.py
Due: flake8, mypy

Updates Changelog for Issue #354
  Changelog.rst
Due: none

Expose RocksDB options to Table constructor
  faust/stores/base.py
  faust/tables/base.py
Due: flake8, mypy

Fix styling
  faust/stores/base.py
  faust/tables/base.py
Due: flake8, mypy

Fix the `producer_max_batch_size` parameter description
  docs/userguide/settings.rst
Due: none

Changelog attribution
  Changelog.rst
Due: none

Fixups to pull #356
  faust/stores/base.py
  faust/stores/rocksdb.py
  faust/tables/base.py
  faust/types/stores.py
  faust/types/tables.py
  t/unit/stores/test_rocksdb.py
Due: flake8, mypy

Updates Changelog for #356
  Changelog.rst
Due: none

Fixes bug where non-finished event is acked (Closes Issue #355)
  faust/transport/consumer.py
Due: flake8, mypy

Models: Implements model validation
  docs/reference/faust.models.fields.rst
  docs/reference/index.rst
  docs/userguide/models.rst
  docs/userguide/workers.rst
  faust/exceptions.py
  faust/models/__init__.py
  faust/models/base.py
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Model: Implement FieldDescriptor.coerce (replaces isodates/decimals options)
  docs/userguide/models.rst
  examples/withdrawals.py
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
  t/functional/test_models.py
Due: flake8, mypy

Updates Changelog
  Changelog.rst
Due: none

FieldDescriptor.type should be original type (e.g. List[T]) instead add .member_type
  faust/models/fields.py
  faust/models/record.py
  faust/types/models.py
Due: flake8, mypy

Bumps version to 1.7.0
  Changelog.rst
  README.rst
  docs/includes/tags.txt
  faust/__init__.py
  setup.cfg
Due: flake8, mypy

Sets release-date for 1.7.0
  Changelog.rst
Due: none

Fixes bug where sensor index should display when :setting:
  faust/web/base.py
  t/unit/web/test_base.py
Due: flake8, mypy

Fix styling
  t/unit/web/test_base.py
Due: flake8

Fixes bug where sensor index should display when :setting:`debug`
  faust/web/base.py
  t/unit/web/test_base.py
Due: flake8, mypy

Fixes agent RPC example
  faust/app/base.py
  faust/transport/conductor.py
  faust/transport/consumer.py
Due: flake8, mypy

Tests passing
  t/unit/app/test_base.py
  t/unit/transport/test_conductor.py
Due: flake8

Fixes typecheck
  faust/transport/consumer.py
  faust/transport/drivers/aiokafka.py
  faust/transport/drivers/confluent.py
Due: flake8, mypy

Changed the transactional id to include the name of the app
  faust/transport/consumer.py
  t/unit/transport/test_consumer.py
Due: flake8, mypy

corrected line length
  faust/transport/consumer.py
Due: flake8, mypy

corrected trailing comma
  faust/transport/consumer.py
Due: flake8, mypy

Adds Cesar Pantoja to AUTHORS
  AUTHORS.rst
Due: none

broker_request_timeout setting is now 90s by default (Issue #259)
  docs/userguide/settings.rst
  faust/types/settings.py
Due: flake8, mypy

Path conditions:
  flake8: any of: .*\.py$
  mypy: any of: ^faust.+?\.py$
